[2015-10-08 20:00] germanattanasio opened #2 "Add more documentation"
I ran `pylint` and got:

<img width="490" alt="screen shot 2015-10-08 at 3 59 45 pm" src="https://cloud.githubusercontent.com/assets/313157/10378213/a2278252-6dd5-11e5-851f-f22b40bbf675.png">

We probably want to focus on documentation and test cases

[2015-10-08 20:02] germanattanasio opened #3 "Add read-the-docs support"
We can easily add read-the-docs as our documentation site for the python sdk. I already did some work in `conf.py`. Our documentation is in markdown so we will have to do some conversions.

[2015-10-08 20:23] bvonhag commented on #2
Did you run this against the new Python "wrapper" code? That GitHub project is the only place the Python whatever-we-call-them lives at the moment, right?

[2015-10-08 20:25] germanattanasio commented on #2
yes

[2015-10-08 20:26] germanattanasio commented on #2
I love the `whatever-we-call-them` part aahaha

[2015-10-08 20:27] germanattanasio opened #4 "Update the authorization service to use the service host."
Use https://stream.watsonplatform.net/ for streaming urls or https://gateway.watsonplatform.net otherwise

[2015-10-08 20:27] germanattanasio opened #5 "Add support for Concept Insights"

[2015-10-08 20:29] germanattanasio opened #6 "Parse VCAP_SERVICES to select the credentials based on the selected plan"

[2015-10-09 01:47] germanattanasio opened #7 "Update the dialog example to use the GA version of the service"

[2015-10-09 01:51] germanattanasio opened #8 "move resources to the test folder"

[2015-10-09 03:39] germanattanasio opened #9 "Add missing services"
The first release came with just a few services. We need to add the rest of them.

- [x] AlchemyVision
- [x] AlchemyLanguage
- [x] AlchemyDataNews
- [x] Retrieve and Rank
- [x] Document Conversion
- [x] Concept Insights

[2015-10-09 03:40] germanattanasio opened #10 "Add integration test."

[2015-10-09 13:44] jsstylos commented on #8
Keeping them in a separate folder to be shared by examples and test.

[2015-10-09 13:44] #8 closed

[2015-10-14 02:52] jsstylos opened #11 "Installation should not depend on pypandoc"
Attempting to install without the pypandoc module installed results in the error:

    FileNotFoundError: [Errno 2] No such file or directory: 'README.md'
    warning: pypandoc module not found, could not convert Markdown to RST

[2015-10-14 18:08] germanattanasio commented on #11
The problem is that `__init__.py` is not only holding the version that we need in `setup.py` but also things that need `requests` to be installed up front.

I'm going to get the version from a variable in  `setup.py` and update the version everywere using bumpversion.

[2015-10-14 18:22] #11 closed

[2015-10-14 18:45] #7 closed

[2015-10-14 18:45] germanattanasio commented on #3
fixed

[2015-10-14 18:45] #3 closed

[2015-10-14 19:24] #2 closed

[2015-10-15 13:35] germanattanasio opened #12 "Switch Speech to Text to use WebSockets"
HI @daniel-bolanos I was thinking we can provide support for WebSockets in the sdk by adding an existing library and handling the authorization using the authorization service.
What do you think?

We should:
- [x] Find a websocket library
- [x] Design a listener/observer pattern to model websockets

[2015-10-15 17:24] germanattanasio opened #13 "Error imports in examples is incorrect"

[2015-10-15 17:39] germanattanasio opened #14 "Improve the error message for 401 responses"
Currently if we don't use valid credentials we get:
[code]

As with the node-sdk and java-sdk we should return
`"Unauthorized: Access is denied due to invalid credentials"`

[2015-10-15 17:47] #13 closed

[2015-10-15 18:29] jsstylos commented on #4
Fixed in 9ff2e77

[2015-10-15 18:29] #4 closed

[2015-10-15 19:07] germanattanasio commented on #6
I was thinking that we can do this in
[code]

Adding a `plan:None` that we can use instead of getting the `[0]` first instance

[2015-10-15 19:08] germanattanasio commented on #6
We can probably send the plan when creating the service
[code]

[2015-10-15 19:25] germanattanasio opened #15 "Use multiple exception classes"
When catching exceptions, users probably want to see the exception type and write code to handle it.

Example:

[code]

[2015-10-19 14:51] #14 closed

[2015-10-27 20:43] germanattanasio opened #16 "List the required dependencies along with their licenses"
| Dependency        | License           | url  |
| ------------- |:-------------:|:-----:|
| requests      | Apache 2.0 | http://docs.python-requests.org/en/latest/ |

[2015-11-03 21:32] Decker87 opened #17 "Include optional parameters in AlchemyVision examples"
There are a couple optional parameters to some AlchemyVision APIs that would be nice to include in the examples.  There's knowledgeGraph=(0|1) for GetRankedImageFaceTags and GetRankedImageKeywords, and forceShowAll=(0|1) for GetRankedImageKeywords.

[2015-11-05 16:18] jsstylos commented on #17
Fixed in 8e657a

[2015-11-05 16:18] #17 closed

[2015-11-06 16:04] #16 closed

[2015-11-21 06:00] chughts opened #18 "The python-sdk is incompatible with a Permuation of Korean Laptop / Korean Code Page and Python 3"
Although it is ok with a Korean Laptop / Korean Code Page and Python 2.
Talking to my Korean colleagues I have learnt that this is quire common for pip packages, which is why they stick to Python 2. The strange thing is that the other packages they installed (django and request), were both OK.
Short term fix is a note in the readme. Long term fix is to modify the code that breaks using the Korean

[2015-11-21 15:22] jsstylos commented on #18
Thanks Soheel. I started a Known Issues section of the readme to mention this. Do you have any tips on how to reproduce this issue without a Korean computer, or otherwise identify the code causing the bug? I looked for a Korean-specific distribution of Python 3.x on pyenv and on Google but haven't found any Korean versions or any bug reports for other modules with hints of how to identify and addr

[2015-11-21 16:37] jsstylos opened #19 "Update travis AlchemyAPI key with a higher limit"
Integration tests of AlchemyAPI Data News require a high-limit API key

[2015-11-21 23:29] germanattanasio opened #20 "Remove question and answer"

[2015-11-21 23:47] jsstylos commented on #20
Fixed in 1155d9e9b1a1c1eac6c5aacbf7cd9ed58d8549c9

[2015-11-21 23:47] #20 closed

[2015-11-23 15:14] #19 closed

[2015-11-23 16:25] jsstylos opened #21 "Create examples and verify implementation of AlchemyData News"
Master now contains an implementation for AlchemyData News, but this needs some testing and examples.

We should start by showing examples of basic usage in `/examples/alchemy_data_news_v1.py`, and verifying that the SDK works correctly for these examples. There are examples to try at http://querybuilder.alchemyapi.com/builder (under the Examples tab). A high-quota api key should be used, since th

[2015-11-23 22:29] chughts opened #22 "Unicode and Language Translation"
Not sure if this is an issue or not but when passing in unicode to the language detection needs to be encoded. ie. if data is unicode then it has to be encoded

txt = data.encode("utf-8", "replace")

and the encoded text passed into identify

language_translation.identify(txt)

whereas
language_translation.identify(data)
throws a unicode error.

[2015-11-23 22:31] chughts commented on #22
of course this is on my Python 3 environment.

[2015-12-05 20:19] jsstylos commented on #22
Does the source file contain "# coding=utf-8" at the top? The example for
Language Translation shows a utf-8 string being passed (to translate(), but
it also works for identify()) without the data.encode("utf-8") in a way
that works for Python 2 and 3.

On Mon, Nov 23, 2015 at 5:31 PM Soheel Chughtai <notifications@github.com>
wrote:

[2015-12-08 00:00] boxcarton opened #23 "Can't import alchemy-related classes from sdk"
After using 'pip install --upgrade watson-developer-cloud' in my virtualenv

[code]

results in **'ImportError: cannot import name 'AlchemyLanguageV1'**

but

[code]

works fine.

This is the case for both python 2.7 and python 3.5.

[2015-12-08 03:41] jsstylos commented on #23
Hi Josh, thanks for the report. Support for Alchemy API services had not yet be published to pip, although the code for it existed in the repository. I just released a new version, so if you try again it should work.

[2015-12-08 03:41] #23 closed

[2015-12-08 10:21] chughts commented on #22
Yes it does, almost religiously.

[2015-12-08 11:34] jsstylos commented on #22
Can you post a small example that fails?

On Tue, Dec 8, 2015 at 5:21 AM Soheel Chughtai <notifications@github.com>
wrote:

[2015-12-10 18:26] fmerici commented on #21
Creating more simple, and comple examples...

[2016-01-07 06:46] tanmayb123 opened #24 "Allow developers to choose the return type ('json', 'xml') for services like "Relationship Extraction""
This is not an issue, I just wanted to bring this up as an enchancement: If you see the file "relationship_extraction_v1_beta.py", you can see that "'rt': 'xml'" is hardcoded.

This means that this service will ALWAYS return "XML" as its format. However, I prefer using JSON, and other developers have their own preferences, so I propose a solution: Just let the developer choose which Data Type they

[2016-01-07 17:54] jsstylos commented on #24
Thanks for the proposal. Release 0.3.3 adds this.

[2016-01-07 17:54] #24 closed

[2016-01-08 15:58] jsstylos opened #25 "Support Visual Recognition v2-beta"

[2016-01-19 19:43] jsstylos commented on #25
Fixed in 5ba756903f77eb660649c0a859011a5b7c7f0ae5

[2016-01-19 19:43] #25 closed

[2016-01-19 20:48] jsstylos commented on #5
duplicate of #9

[2016-01-19 20:48] #5 closed

[2016-01-19 21:09] jsstylos opened #26 "Test Document Conversion media type detection"

[2016-01-28 12:46] masto182 commented on #21
I can not work out have to do filters or how I need to create the string for the Query_fields parameter.

I'm trying to return these results.

https://access.alchemyapi.com/calls/data/GetNews?apikey=YOUR_API_KEY_HERE&return=enriched.url.title,enriched.url.url,enriched.url.author,enriched.url.publicationDate&start=1453334400&end=1454022000&q.enriched.url.enrichedTitle.entities.entity=|text=IBM,type

[2016-01-28 15:51] jsstylos commented on #21
@masto182: To return results like that you do a call like: `alchemy_data_news.get_news_documents(start='1453334400', end='1454022000', return_fields=['enriched.url.title', 'enriched.url.url', 'enriched.url.author', 'enriched.url.publicationDate'], query_fields={'q.enriched.url.enrichedTitle.entities.entity': '|text=IBM,type=company|'})`.

The one field I'm not sure of is the `count` query paramete

[2016-02-09 16:07] prevosti opened #27 "Version parameter not included in Document Conversion Service"
The current version of the python-sdk doesn't add the required **version** parameter to the URL:
https://gateway.watsonplatform.net/document-conversion/api/v1/convert_document?version=2016-02-10

The Exception being thrown looks like the following:

Traceback (most recent call last):
  File "document_conversion_v1.py", line 12, in <module>
    print(json.dumps(document_conversion.convert_document(

[2016-02-09 20:51] jsstylos commented on #27
Thanks for the report. There was a bug in the SDK that prevented the Document Conversion service from working. The 0.4.1 release should fix this issue.

[2016-02-09 20:51] #27 closed

[2016-02-09 20:51] jsstylos commented on #26
Likely related to the previous Document Conversion GA issues.

[2016-02-09 20:51] #26 closed

[2016-02-14 19:56] boxcarton opened #28 "API Reference for Document Conversion incorrect: 400 error because no version in request"
https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/document-conversion/api/v1/?python#convert-document

Is inconsistent with what's actually in the SDK example.

document_conversion = DocumentConversion(username='YOUR SERVICE USERNAME',
                                         password='YOUR SERVICE PASSWORD',
                                         version='2016-02-09')

The SDK ac

[2016-02-15 14:48] jsstylos commented on #28
Good catch. The SDK updated and the documentation hasn't yet reflected that.

[2016-02-15 16:55] jsstylos opened #29 "Add Alchemy emotion call"

[2016-02-15 16:55] jsstylos opened #30 "Add Tone Analyzer v3"

[2016-02-17 13:54] jsstylos commented on #30
Fixed in 77ae815ebf4042ce53fe846f383db25a36f8fdc9

[2016-02-17 13:54] #30 closed

[2016-02-17 13:54] #9 closed

[2016-02-17 18:05] kcheat commented on #28
Cool. I am updating this. I have it tucked in with a tone analyzer
incremental review. I'll send it to you for review.

_________________________________________________________________________
Kaylyn Cheatham

Information Developer - Watson Platform
email: kcheath@us.ibm.com | Tel: 614-792-4264

_________________________________________________________________________

From:   Jeffrey Stylos <not

[2016-02-19 22:42] jagan120 opened #31 "Add Get Dialog File Call in the Dialog API"
The Dialog API Supports the call to Download the Dialog File(GET /v1/dialogs/{dialog_id}). Not Sure if this call was not available earlier.

I am talking about the Number 6 in [here](https://watson-api-explorer.mybluemix.net/apis/dialog-v1#/). I can have this assigned to myself if you guys dont mind!

[2016-02-22 18:22] jsstylos commented on #31
Thanks for the report. Fixed in 08cf16bc1bd60592e6eafeb02c769208f61781af

[2016-02-22 18:22] #31 closed

[2016-02-23 18:56] jagan120 commented on #31
Thanks for fixing it guys!

[2016-02-23 21:21] SirSpidey opened #32 "Steps to get credentials in readme are for Natural Language Classifier"
Need to make the Natural Language Classifier an example service tile to select.

[2016-02-23 21:22] #32 closed

[2016-02-23 22:20] SirSpidey opened #33 "Link to responses package is a 404"
From readme dependencies:
responses link goes to https://github.com/watson-developer-cloud/python-sdk/blob/master/for%20testing

[2016-02-24 15:14] #33 closed

[2016-02-26 15:31] SirSpidey opened #34 "WatsonException drops description"
The WatsonException doesn't return the description property from the service error message. For example, with not enough training data in the Natural Language Classifier, this is returned:

[code]

* The description is missing from this.
* Also might want to put the message, code, and description on separate lines
* Also, to match service, labels should be lower case. For example,

[code]

[2016-02-26 16:48] SirSpidey opened #35 "Simplify import statement for NLC"
change

[code]
to
[code]
to reduce text clutter in API reference

[2016-02-29 14:32] manistal opened #36 "Add Sample Output to Examples in Comments"
Hello,
I was walking through the examples today (i.e. https://github.com/watson-developer-cloud/python-sdk/blob/master/examples/relationship_extraction_v1_beta.py ) and noticed that they don't give a lot of insight into what's going on in the example, since it's just an import/invoke.

Since all of these scripts require login credentials I think it'd be a nice addition if the output from the print

[2016-03-01 17:23] wpm opened #37 "WatsonException should show description text"
I have the maximum number of NLC classifiers. When I try to allocate another one using a CURL call I see the following error

    {
      "code" : 400,
      "error" : "Entitlement error",
      "description" : "This user or service instance has the maximum number of classifiers."
    }

If I do the same thing with the `watson_developer_cloud` Python sdk, the following exception is displayed.

[2016-03-01 17:34] SirSpidey commented on #37
This is a dupe of #34

[2016-03-02 22:04] melissamahoney3 opened #38 "Language Translation missing methods"
The Python SDK is missing methods for the following Language Translation methods:
List identifiable languages
GET  /v2/identifiable_languages

Create model
POST  /v2/models

Delete model
DELETE  /v2/models/{model_id}

Get model details
GET  /v2/models/{model_id}

[2016-03-07 13:56] jsstylos commented on #38
Fixed in 0c603adeff780a05fd9d6b38c38f98d3d4c577c8

[2016-03-07 13:56] #38 closed

[2016-03-07 13:56] jsstylos commented on #37
Fixed in 0c603adeff780a05fd9d6b38c38f98d3d4c577c8

[2016-03-07 13:56] #37 closed

[2016-03-07 13:56] jsstylos commented on #34
Fixed in 0c603adeff780a05fd9d6b38c38f98d3d4c577c8

[2016-03-07 13:56] #34 closed

[2016-03-07 13:57] jsstylos commented on #35
Fixed in f7f25c051d2666ed3f268ff579097c1b2b5b3e9b

[2016-03-07 13:57] #35 closed

[2016-03-07 13:59] #28 closed

[2016-03-07 14:07] jsstylos commented on #36
Hi, thanks for creating this issue. Currently we use our API reference pages (e.g. http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/document-conversion/api/v1/) to document the service output, while our SDKs only document the input, and need to be run to see the output. I worry that putting the output inline in comments will be difficult to test for correctness, and decrease the rea

[2016-03-07 14:07] #36 closed

[2016-03-07 14:08] jsstylos commented on #18
Closing this and will re-open if anyone can repo it.

[2016-03-07 14:08] #18 closed

[2016-03-07 14:09] jsstylos commented on #10
Closing since the examples scripts are being used as integration tests.

[2016-03-07 14:09] #10 closed

[2016-03-07 14:10] jsstylos commented on #15
The SDK now uses two exceptions, WatsonException and WatsonInvalidArgument exception. Will add more as needed.

[2016-03-07 14:10] #15 closed

[2016-03-07 15:29] SirSpidey commented on #34
@jsstylos: Doesn't the `raise WatsonException` line 252 from `watson_developer_cloud/watson_developer_cloud_service.py`need to be updated as well to include the description?
[code]

[2016-03-07 20:28] jsstylos commented on #34
The code is admittedly a little confusing here -- the (optional) description, including ', Description: ', is being added to `error_message`. This way, when the description doesn't exist (which is most of the time), the ', Description: ' is omitted. I could refactor the message handling code to handle the ', Code: ' logic also, which may be cleaner;.

[2016-03-07 20:36] jsstylos commented on #34
Cleaned up in d9b0b808bf7c54acc8b3c05fca4be086b156ebb1

[2016-03-08 17:40] jmrr opened #39 "Document conversion issues with non JSON (ANSWER UNITS) response"
If I try with a MWE with a conversion to `NORMALIZED_TEXT` or `NORMALIZED_HTML`,

[code]
`watson_developer_cloud_service.py` (line 233):
[code]
throws an error` JSONDecodeError: Expecting value: line 1 column 1 (char 0)`, i.e. the response doesn't conform to JSON, as it's either text or HTML, therefore I believe it should be contemplated, as I think is the original intention of `return response` i

[2016-03-09 05:34] peterrickwood opened #40 "Instantiating ToneAnalyzerV3Beta should have default version value"
The example code suggests you can instantiate a tone analyzer by passing in just 2 arguments, as follows:

`ta = ToneAnalyzerV3Beta(username='yourusername',password='yourpassword')`

However, this is not right -- you have to pass in a version argument as well, thusly:

`tone_analyzer = ToneAnalyzerV3Beta(version='2016-02-11', username='yourusername', password='yourpassword')`

Since it doesnt seem

[2016-03-09 21:58] jsstylos commented on #39
Good catch. Since the response type depends on a field of the input this is a little weird, but I switched it so you can access the text / html with .text on the output for non-answer-unit conversion targets. Fixed in fa617a449070b1dae50cdaaf6d8dcf6e6b5cd174

[2016-03-09 21:58] #39 closed

[2016-03-09 22:07] jsstylos commented on #40
This is a tricky design question that we've looked at before but may have to revisit.

The challenge is that version dates are for describing backwards-incompatible changes, and setting a default version date in the SDK makes every version date change a breaking change for the SDK, so that update the SDK could break your code.

This is similar to the motivation for not having default version dates

[2016-03-09 22:07] #40 closed

[2016-03-14 20:03] hill1303 opened #43 "Current build of master branch is failing"
From the Travis CI logs of the failures for what seems to be all supported versions of Python....

`The command "openssl aes-256-cbc -K $encrypted_c3e85137836d_key -iv $encrypted_c3e85137836d_iv -in .env.enc -out .env -d" failed and exited with 1 during .`

[2016-03-14 20:19] germanattanasio commented on #43
Travis seems to have problems decrypting the credentials and that's why our integration tests are failing. you can run
[code]

[2016-03-15 08:25] Navneet23 opened #44 "Dialog update_profile does not work"
The update_profile method for DialogV1 does not work. I have found the issue is that client_id is not passed as it should be along with the name_values according to the API explorer:

https://watson-api-explorer.mybluemix.net/apis/dialog-v1#!/Content/putAppFile

Please update this method and also if possible add some examples for the dialogV1 class.

[2016-03-15 16:18] jsstylos commented on #44
Good catch. Working on this, but still trying to get a working example.

[2016-03-15 22:11] jsstylos commented on #44
I added code that should fix this, although note that variables must be defined in the dialog before they can be set. In the SDK variables can either be set as a list like [{'name': 'name1', 'value': 'value1'}] or as a dict like {'name1': 'value1', 'name2': 'value2'}. Let me know if this works for you.

[2016-03-16 19:35] tanmayb123 opened #45 "Allow voice recording for the Speech to Text service"
I think we should also allow users to record audio for Speech to Text, not just use a file.

Please give me some ideas.

[2016-03-16 20:24] alienbaby commented on #45
Do you mean stream to the service? Or more a front end app that records and uploads a file as well as just asking the user for a pre recorded file?
I think we should also allow users to record audio for Speech to Text, not just use a file.

Please give me some ideas.

---
You are receiving this because you are subscribed to this thread.
Reply to this email directly or view it on GitHub:
https://gi

[2016-03-16 20:43] tanmayb123 commented on #45
I meant that it should be able to record to a file, then send to the service, instead of the user having to do it.
As far as I know, the Speech to Text service does not allow streaming audio?

[2016-03-16 23:22] jsstylos commented on #45
The service itself and the Python SDK support streaming audio, although we don't have a sample that shows the streaming audio input (and this will likely require additional dependencies to interact with a microphone). The `audio` input to the `recognize` method can be either a file or file-like object, which might be streamed from a microphone.

[2016-03-16 23:22] #45 closed

[2016-03-17 16:48] jsstylos opened #46 "Change Travis to not run integration tests on pull requests"
Currently contributor's pull requests fail because the integration tests cannot decrypt the credentials. This should be fixed as in the Node SDK project.

[2016-03-17 16:48] jsstylos commented on #43
#46 should address this issue in the future

[2016-03-17 16:48] #43 closed

[2016-03-20 22:52] karteek-paruchuri opened #47 "How to make continuous transmission in speech to text"
The transcribe function stops once it encounters a pause. How do I extend the time? https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/speech-to-text/input.shtml#timeouts
In this link I believe I need to play with continuous transmission but I'm unsure how to fit this in this code. Can you please help

[2016-03-21 19:54] germanattanasio commented on #46
Fixed in #48

[2016-03-21 19:54] #46 closed

[2016-03-22 01:42] jsstylos commented on #47
The continuous=True input field specifies that recognition should continue after the first silence, such as: `speech_to_text.recognize(audio_file, content_type='audio/wav', continuous=True)`

[2016-03-22 19:30] #47 closed

[2016-03-22 19:31] #44 closed

[2016-03-22 19:39] karteek-paruchuri commented on #47
Thankyou.

[2016-03-23 15:43] ArthurKantor opened #49 "sst and tts examples are out of date"
@jsstylos:
The model voice names have changed in
https://github.com/watson-developer-cloud/python-sdk/blob/master/examples/speech_to_text_v1.py
https://github.com/watson-developer-cloud/python-sdk/blob/master/examples/text_to_speech_v1.py

[2016-03-23 22:39] jsstylos commented on #49
I'm not sure how the examples are out of date; the code dynamically loads the voices and models. Am I missing something?

[2016-03-24 14:44] ArthurKantor commented on #49
sorry, linked to the wrong files:  it's the tests that look out of date:
https://github.com/watson-developer-cloud/python-sdk/blob/master/test/test_speech_to_text_v1.py
https://github.com/watson-developer-cloud/python-sdk/blob/master/test/test_text_to_speech_v1.py

[2016-03-24 19:39] jsstylos commented on #49
Ok -- the unit tests have not been kept up to date, but don't have to exactly match the service output either, since, they're mocking the server. I may remove these if we don't have test resources to keep them up to date, since we already have the integration tests.

[2016-03-24 19:39] #49 closed

[2016-03-25 18:08] #29 closed

[2016-03-28 18:08] germanattanasio opened #50 "[text-to-speech] Add support for customizations"
Add support for customizations. See: https://watson-api-explorer.mybluemix.net/apis/text-to-speech-v1
There are new endpoints like `/v1/pronunciation` and `/v1/customizations`

[2016-03-29 20:43] ghost opened #51 "Dict comprehension incompatible with python 2.6"
Import statement results in the following exception:

`Traceback (most recent call last):
  File "/home/chakravr/workspaces/bluegoat-experimental/bluegoat-raas-experimental/chakravr-experiments/src/main/scripts/bluemix_scripts/run_raas_csf_experiment.py", line 15, in <module>
    from watson_developer_cloud import RetrieveAndRankV1, WatsonException
  File "/usr/lib/python2.6/site-packages/watson_d

[2016-03-30 00:23] jsstylos commented on #51
Thanks for the report. There's currently a bug where the library is not being tested against 2.6. I'll check to see if there are any other compatibility issues preventing 2.6 support.

[2016-04-07 03:19] jtreleaven opened #53 "AlchemyNewsDataV1 does not support pagination"
Will currently throw the following error if you try to add the "next" query parameter to retrieve the next page.
[code]
I've identified the bug in the code and will place a PR soon. Adding this issue for documentation/tracking purposes.

[2016-04-10 03:54] jtreleaven opened #55 "Generally broken get_news_documents method"
[code]

This method incorrectly handles the `query_fields` parameter by assuming all query_fields are prefixed with the letter 'q'. Query fields like `dedup` and `dedupThreshold` cannot be passed into this function since they should not be prefixed with a q. This issue is also responsible for a PR I made with respect to another issue I created around the use of pagination #53

[2016-04-12 19:30] jsstylos commented on #55
Fixed -- for `dedup`, `dedupThreshold` and rank -- in 302c9b588610536ec99f6c6673799c3d68789cdb

[2016-04-12 19:30] #55 closed

[2016-04-12 19:30] jsstylos commented on #53
Fixed in 302c9b588610536ec99f6c6673799c3d68789cdb

[2016-04-12 19:30] #53 closed

[2016-04-12 19:30] jsstylos commented on #51
Fixed to support -- and test -- Python 2.6 in 302c9b588610536ec99f6c6673799c3d68789cdb

[2016-04-12 19:30] #51 closed

[2016-04-12 19:31] jsstylos commented on #50
Added in 302c9b588610536ec99f6c6673799c3d68789cdb

[2016-04-12 19:31] #50 closed

[2016-04-20 21:30] jagan120 opened #56 "JSON from get_dialog in Dialog API throws an exception when trying to import back into the dialog"
So I faced this issue according to the last comment on #31. I got around it by removing accept_json parameter from the request and extracting raw content from the request object.

[code]

I can submit a pull request if you approve these changes.

[2016-04-21 20:57] jsstylos commented on #56
The new code sets `accept_json` only when setting `accept` = `application/wds+json` (which is the default). Are you getting an exception when trying to get JSON, and if so is the response a valid JSON?

[2016-04-21 21:04] jagan120 commented on #56
The JSON is valid. But the issue is the JSON returned by the method with accept_json being true is throwing an exception when trying to import it into a dialog. I dont have this issue when I get the JSON as a return from request().content with accept_json being false.

[2016-04-21 21:09] jsstylos commented on #56
I don't understand what's throwing the exception, if not a JSON parsing error. What do you mean by "when trying to import it into a dialog"?

[2016-04-28 00:44] crunchex opened #57 "text_to_speech.synthesize() does not have a parameter for supplying a customization_id"

[2016-04-28 16:25] jzhang300 opened #58 "Update Alchemy Key"
We're making sure any SDK or demo that uses Alchemy should be using the same super key.

PM me for the Alchemy key you should be using.

[2016-05-02 01:15] jsstylos commented on #58
Already using it!

[2016-05-02 01:15] #58 closed

[2016-05-02 01:18] jsstylos commented on #56
@jagan120: Do you have a test case you can give me that creates a dialog and then throws an exception trying to get it?

[2016-05-02 01:52] jsstylos commented on #57
Thanks! Fixed in 1eae634ce56cbe47fbf97a93c7cb3dcab9086e73, to be published in the next release.

[2016-05-03 00:56] crunchex commented on #12
I second this!

[2016-05-03 02:23] daniel-bolanos commented on #12
guys, we have this python sample code that uses websockets to talk to the STT service:

https://github.com/watson-developer-cloud/speech-to-text-websockets-python

I wrote it and shared publicly very long ago... we can just merge it

[2016-05-03 19:38] crunchex commented on #12
@daniel-bolanos somehow I missed your example. Thanks for sharing it here.

[2016-05-03 19:43] daniel-bolanos commented on #12
no problem!

[2016-05-05 15:03] scot-taylor-ibm opened #59 "R&R Python method create_config does not work"
I've managed to create, list, check the status of, delete, and recreate a Solr cluster. Now I can't upload the sample config:
[code]

[code]
The watson_developer_cloud/retrieve_and_rank_v1.py file has this comment:
[code]

Any idea when the testing and/or a fix might happen? Thanks.

[2016-05-07 02:46] jsstylos commented on #59
I have done some testing on the method -- the latest version of the Python SDK should give you a slightly more verbose error -- my guess is "Unknown error, Code: 409", if a config with that name already exists.

[2016-05-30 23:32] boxcarton opened #60 "Support for Visual Recognition V3?"
When will the SDK be updated for v3?

Also there seems to be sample python code missing from the documentation:
http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/visual-recognition/api/v3/?python#recognize_text

[2016-06-07 18:43] #56 closed

[2016-06-07 19:37] jsstylos commented on #60
Added! Thanks @kognate!

[2016-06-07 19:37] #60 closed

[2016-06-07 19:37] jsstylos commented on #59
@scot-taylor-ibm: Can you verify that the latest version gives a sensible error message?

[2016-06-07 19:38] #57 closed

[2016-06-07 19:48] scot-taylor-ibm commented on #59
@jsstylos: I pulled the latest python-sdk, reran the test, and got essentially the same results with the addition of a Code 400:
[code]

[2016-06-07 20:51] jsstylos commented on #59
The config is being passed as a string with the filename in it here -- it should be passed as a file object. I improved the error reporting (again) for solr messages, which should appear in the next release.

[2016-06-07 22:34] saimouli opened #63 "ImportError: cannot import name VisualRecognitionV3"

[2016-06-08 14:42] #59 closed

[2016-06-08 14:43] jsstylos commented on #63
Have you installed the latest version of the library? VisualRecogntionV3 was added in release 0.13.0.

[2016-06-08 14:54] scot-taylor-ibm commented on #59
Leaving this here so it's recorded somewhere other than Slack:
[code]

[2016-06-08 15:27] saimouli commented on #63
Yes, I cloned the latest version.
n_v3.py", line 4, in <module>
    from watson_developer_cloud import VisualRecognitionV3
ImportError: cannot import name VisualRecognitionV3

[2016-06-08 17:05] jsstylos commented on #63
It's likely using a different installed version than the one you cloned. The right way to install an official version is: `pip install --upgrade watson-developer-cloud`. (If you made changes to the clone and want to test them out locally you can do `python setup.py install` in your local directory.)

[2016-06-08 18:45] saimouli commented on #63
Thanks that solved the issue

[2016-06-08 18:46] #63 closed

[2016-06-12 02:43] germanattanasio opened #65 "[concept-insights] Return user created corpus based on the account id"
Based on http://stackoverflow.com/questions/37440293/how-do-i-retrieve-a-list-of-my-corpora-using-watson-developer-cloud-python-sdk

[2016-06-13 00:36] #65 closed

[2016-06-16 07:15] theja0473 opened #68 "ON MY DEVICE IT IS NOT WORKING"
Hi,
I am using watson-developer-cloud service but the text to speech services are not working on my Raspberry Pi 3 Model B. What can I do?

[2016-06-16 11:49] jsstylos commented on #68
Hi, if you don't have a specific bug report for the SDK the best way to get help it to create a post on Stackoverflow, The more context you'll give -- specific error messages, whether or not your code works in other environments -- the more likely you'll be to get help.

[2016-06-16 11:49] #68 closed

[2016-06-21 21:21] kcheat opened #69 ""unexpected parameter" on Tone python SDK"
See issue [88](https://github.ibm.com/people-insights/tone-analyzer/issues/88) on the Tone GHE

[2016-06-22 14:23] herchu commented on #69
Submitted a PR for this https://github.com/watson-developer-cloud/python-sdk/pull/70

[2016-06-24 21:37] FabLabEP opened #73 "LanguageTranslationV2 unexpected key word error"
translate() got an unexpected keyword argument 'model_id'

[2016-06-28 09:39] Rafi993 opened #74 "CERTIFICATE_VERIFY_FAILED error"
When I tried to run the examples i get the following error

![capture](https://cloud.githubusercontent.com/assets/8092120/16410902/3e4d5828-3d42-11e6-95be-39678e03b8b4.PNG)
how do I proceed with this

[2016-06-28 20:06] germanattanasio commented on #69
fixed by @herchu

[2016-06-28 20:06] #69 closed

[2016-06-28 20:06] germanattanasio commented on #73
you need to specify the `model_id` or `source` and `target` to call translate

[2016-06-28 20:07] germanattanasio commented on #73
are you passing those parameters? what version of the sdk are you using? can you add the code you are using?

[2016-06-28 20:46] FabLabEP commented on #73
import json
from watson_developer_cloud import LanguageTranslationV2 as LanguageTranslation

language_translation = LanguageTranslation(
    username='xxxxxxxx',
    password='xxxxxxxx')

translation = language_translation.translate(
    text='blah blah blah',
    model_id='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx')
print(json.dumps(translation, indent=2, ensure_ascii=False))

[2016-06-28 20:47] FabLabEP commented on #73
Specifying source and target works fine.  Error on specific model_id.

[2016-06-28 22:50] germanattanasio commented on #74
what is the python version you are using?

[2016-06-28 23:02] germanattanasio commented on #74
Take a look at this http://stackoverflow.com/questions/27835619/ssl-certificate-verify-failed-error

[2016-06-29 18:40] twinitialize opened #75 "Visual Recognition API - calling classify twice with the same file object fails"
If you open an image in Python as a file object and pass it to `VisualRecognitionV3.classify` multiple times, it fails every time after the first call.

Here is an example:
[code]

This prints the following:
[code]

Shouldn't it be possible to pass the same file in?

Thanks!

[2016-07-05 17:23] ajrader opened #77 "getting invalid-api-key error"
I am not able to use my newly signed up for alchemyAPI key with the python sdk. I initiated this account this morning and waited the suggested 5 minutes but have no way of checking that my key is active. Suggestions please?

[2016-07-05 18:28] jsstylos commented on #77
Can you provide more details of the code you were trying to run and the error that you received?

[2016-07-05 18:35] ajrader commented on #77
I was following the examples in https://github.com/watson-developer-cloud/python-sdk/blob/master/examples/alchemy_language_v1.py

modifying this to my case I typed the following code:
[code]

I received the following error:
[code]

[2016-07-05 20:52] ajrader commented on #77
I had opened a ticket with IBM support which they passed to their 'developers'. Issue is now resolved. closing issue. (Sorry they did not provide root cause.)

[2016-07-05 20:52] #77 closed

[2016-07-06 18:40] jsstylos commented on #75
If you're re-using the same file handle you'll have to `seek(0)` between calls. See http://stackoverflow.com/a/22700321/221520 http://www.diveintopython3.net/files.html

[2016-07-06 18:40] #75 closed

[2016-07-06 19:50] jsstylos commented on #73
Thanks for the report -- there was a bug in the SDK around the model_id, which will be fixed in the next release.

[2016-07-06 21:19] FabLabEP commented on #73
Great!  In the meantime I've found using requests works fine.

`import requests
payload = {'model_id': 'blah blah blah', 'text': text}
r = requests.post(url, auth=('user', 'pw'), data=payload)
print r.status_code
print r.text`

[2016-07-07 11:02] data-henrik opened #79 "Include full Python client for dialog"
I wrote a Python script to manage Watson dialog files from the command line and to test simple chats. The project is available here: https://github.com/data-henrik/henriksDialog

Maybe the dialog_v1.py could be replaced by a client like the above?

[2016-07-07 17:25] jsstylos commented on #79
Nice app! Our dialog focus is shifting to the Conversation service, but once the Conversation service supports dialog then a command line app like this might make sense in the utilities folder.

[2016-07-07 17:25] #21 closed

[2016-07-12 10:25] data-henrik opened #80 "Conversation is now GA and has updated version date"
Will there be an update to the conversation module?

[2016-07-12 16:00] jsstylos commented on #80
Fixed in 233d2a32e8f9f17d0a7c2a363a8ecf963d7a556b

[2016-07-12 16:00] #80 closed

[2016-07-13 14:45] jsstylos commented on #6
I was looking into this, but there's no easy solution, since we can't set a default plan for each service (could be `free` or `standard`, at least), so closing this for now.

[2016-07-13 14:45] #6 closed

[2016-07-13 14:46] jsstylos commented on #73
Fixed

[2016-07-13 14:46] #73 closed

[2016-07-14 13:36] ygina opened #82 "Conversation - Unauthorized: Access is denied due to invalid credentials"
`watson_developer_cloud.watson_developer_cloud_service.WatsonException: Unauthorized: Access is denied due to invalid credentials`

I put my credentials in the Conversation example from `examples/conversation_v1.py` and got this error. It looks like `watson_developer_cloud/conversation_v1.py` might be hitting the wrong URL endpoint. (API docs say https://gateway.watsonplatform.net/conversation/api

[2016-07-14 13:37] a-ro opened #83 "Set the header parameter X-Watson-Learning-Opt-Out to true"
I'm working with private documents and need to set X-Watson-Learning-Opt-Out to true for any watson services I'm using on these documents. There doesn't seem to be a way to do this currently with the python-sdk.  One way to solve this would be to add a parameter x_watson_learning_opt_out in WatsonDeveloperCloudService and verify this parameter in request to set the header.
[code]

[2016-07-14 14:12] data-henrik commented on #79
right now the API for Conversation is very limited

[2016-07-14 14:21] jsstylos commented on #79
Yes, but full API access is coming!

[2016-07-14 17:00] LaviLaza commented on #82
I got the same error till I explicitly specified the url:

conversation = conversation_v1.ConversationV1('2016-07-11', username = *****, password = *****, url = 'https://gateway.watsonplatform.net/conversation/api')

[2016-07-14 17:10] jsstylos commented on #82
This was fixed in 0.16.1 but pip doesn't seem to be picking up the patch release. I'll release 0.17.0 today which should push the update through.

[2016-07-14 20:12] #82 closed

[2016-07-14 20:12] jsstylos commented on #83
Thanks, added in 65c95783a373485107f7cd6aefdb53b8491710ba

[2016-07-14 20:12] #83 closed

[2016-07-15 14:28] jsstylos commented on #74
Closing this as it appears to be independent from the SDK (a periodic issue with accessing the services themselves).

[2016-07-15 14:28] #74 closed

[2016-07-16 00:00] a-ro commented on #83
Thanks for the quick fix, but you really need to set headers['X-Watson-Learning-Opt-Out'] = **true** to disable the logging (instead of false in your code).

[2016-07-17 16:08] jsstylos commented on #83
D'oh! Good catch. Fixed (again) in ec057cd582c5957238c6da9be0906d2fce551e06

[2016-07-26 08:31] ellsaking opened #84 "pip install version error"
Dear developers,

I am trying to install watson-developer-cloud for python using pip, but an error occurred "Could not find a version that satisfies the requirement watson-developer-cloud (from versions:)
No matching distribution found for watson-developer-cloud"

I did a little research, it seems like that there is a version issue for pip install if the package is a per-released version.
I tried

[2016-07-26 12:28] jsstylos commented on #84
Is there a requirements.txt file in your directory? What's the pip command you're running?

[2016-07-28 13:46] Mikemosca opened #86 "delete collection has config_name as the last argument but it it not used"
delete collection has config_name as the last argument but it it not used by delete_collection().  It is a bit confusing and can probably be removed.  No big deal here.
[code]

[2016-07-28 13:57] Mikemosca opened #87 "When creating a solr cluster passing in a cluster size fails."
When creating a solr cluster passing in a cluster size fails.  It may be a case where we just need to import long
[code]
[code]

[2016-07-28 14:12] Mikemosca opened #88 "How does one add content to a solr index using the python sdk?"
How does one add content to a solr index using the python sdk?  Was looking for a way to upload/index documents using the python sdk but could not find any such API.   The corresponding curl command is something like
[code]
The API reference for Retrieve and Rank does not contain any python examples so a bit confused here.

[2016-07-28 14:20] Mikemosca opened #89 "how does one do a search and rank via the python sdk?"
how does one do a search and rank via the python sdk? The standard solr search seems to be handled by the get_pysolr_client() api.  But if I want to used the reranked results in the query how is this accomplished?

For example with curl you can use fcselect and pass in the ranker_id as opposed to using the stand solr query select

[2016-07-29 17:12] #86 closed

[2016-07-29 17:15] germanattanasio commented on #87
in python 3 there is no long so you are probably getting the error because it's python 3.0

[2016-07-29 17:23] germanattanasio commented on #88
The [examples](https://github.com/watson-developer-cloud/python-sdk/blob/master/examples/retrieve_and_rank_v1.py#L41) folder has some examples for this particular case.

What you need to do is to get the solr client and use it to index and search for documents.
We use solrpy so you just need to learn how to use that package. See http://pythonhosted.org/solrpy/

[2016-07-29 17:23] #88 closed

[2016-07-29 17:25] germanattanasio commented on #89
The answer is similar to #88, in this case you will look at the solr client we use.

http://pythonhosted.org/solrpy/reference.html#solr.SearchHandler.__call__

[2016-07-29 17:56] #87 closed

[2016-08-02 18:40] germanattanasio commented on #12
See
https://github.com/HomeHabbit/stt-watson

[2016-08-02 22:24] germanattanasio commented on #79
I'm closing this since we will focus on Conversation moving forward.

[2016-08-02 22:24] #79 closed

[2016-08-03 18:56] adam2392 opened #94 "API Reference lacks Python examples"
https://www.ibm.com/watson/developercloud/speech-to-text/api/v1/?java#recognize_sessionless_nonmp12

On the documentation, it lists that the keywordThreshold is the optional argument, but after much headache, in Python it is actually now keyword_threshold. Perhaps the documentation should be fixed?

[2016-08-03 21:15] jsstylos commented on #94
Yes, the documentation needs to be updated with Python information and examples.

[2016-08-03 21:53] jsstylos commented on #89
I think we need support for this, since pysolr itself doesn't have support for fcselect and ranker_id.

[2016-08-03 22:00] jsstylos commented on #88
See for example: http://pythonhosted.org/solrpy/reference.html#solr.SolrConnection.add_many

[2016-08-03 22:45] germanattanasio commented on #89
@jsstylos I think `pysolr` supports that.

[code]

[2016-08-04 01:03] jsstylos commented on #89
That looks like it covers it.

[2016-08-04 01:03] #89 closed

[2016-08-30 14:33] #84 closed

[2016-09-09 01:38] josepmao opened #98 "Alchemy vision no longer available"
Hi Alchemy vision is no available, can be better if remove it from the library, and guide user to use visual recognition v3 instead to avoid confusion.

[2016-09-10 20:30] AndreiD opened #99 "the returned output text is always conversation_start response"
Greetings,

The bot works great on the "Try it out" inside the console where you design it, but no matter what I send using
[code]
it returns the default start_conversation answer.

[code]

so the text array with is returned no matter what I send....

[2016-09-10 20:49] AndreiD commented on #99
I found the answer. it's the context variable that needs to be remembered.

# Replace with the context obtained from the initial request
context = {}

workspace_id = '25dfa8a0-0263-471b-8980-317e68c30488'

response = conversation.message(
  workspace_id=workspace_id,
  message_input={'text': 'Turn on the lights'},
  **context=context**
)
------------------------

I would update the example with th

[2016-09-12 11:31] SirSpidey commented on #99
yes, including the context in the request is included in the example in the API reference: http://www.ibm.com/watson/developercloud/conversation/api/v1/?python#send_message

[2016-09-18 20:02] germanattanasio commented on #98
@josepmao I know that AlchemyVision was deprecated but do you know if it still works? If I remove the service then existing users won't be able to use the API with this SDK. I need to know if that's the case

[2016-09-19 00:27] josepmao commented on #98
@germanattanasio I think it is gone.  Since it is combination between these 2 services  Alchemy Vision and VR.  But double checking with Alyssa in slack
https://ibm-watson.slack.com/archives/wdc-vision/p1474244739000510

[2016-09-19 01:37] germanattanasio commented on #98
I'm closing this because the service will be available for 1 year.

[2016-09-19 01:37] #98 closed

[2016-09-19 01:37] josepmao commented on #98
Thanks @germanattanasio.  Get response in slack from Alyssa, we need to keep it for 12 months.
https://ibm-watson.slack.com/archives/wdc-vision/p1474246659000512

[2016-09-19 13:17] #99 closed

[2016-09-29 14:40] dolevdotan opened #103 "pip install problem"
I'm trying to install the library using `pip install --upgrade watson-developer-cloud` but getting the following error:

[code]

This is on Windows 7 with python 3.4.3 / Anaconda 2.3.0 (64-bit).

[2016-10-01 00:48] germanattanasio commented on #103
The warning is expected but the error looks pretty bad... I will look into it

[2016-10-04 22:58] andrewfam opened #105 "Narrowband error"
Trying the below on an 8k sample rate still doesn't work.
json.dumps(speech_to_text.recognize(afile, content_type='audio/wav', timestamps=True), indent=2, model='en-UK_NarrowbandModel')

WatsonException: Error: This 8000hz audio input requires a narrow band model.  See https://stream.watsonplatform.net/speech-to-text/api/v1/models for a list of available models., Code: 400

I can upload the file t

[2016-10-13 18:33] mpuels opened #107 "In SpeechToTextV1.recognize(): Keyword argument 'word_confidence' is not propagated correctly to API"
In the method `SpeechToTextV1.recognize()` the keyword argument `word_confidence` is not propagated correctly to Watson's API. If I run `examples/speech_to_text_v1.py`, a JSON object is printed to my terminal as expected. But if I add `word_confidence=True` to the argument list, I get a warning in the returned JSON object. Here is the code before adding `word_confidence`:

    …
    with open(join

[2016-10-13 19:08] jsstylos commented on #107
Thanks for the report -- the service used to support either `wordConfidence` or `word_confidence`, but currently only accepts `word_confidence`, so I'll change the SDK to use the new parameter naming.

[2016-10-13 20:20] jsstylos commented on #105
Hi, do you have an example of a file that fails in the Python SDK but works elsewhere? What's the link that you can upload the file through?

[2016-10-13 20:25] jsstylos commented on #107
Fixed in 1accfd069822924213625c8cf1d0bcfe35456585 (0.20.1 release)

[2016-10-13 20:25] #107 closed

[2016-10-13 20:30] jsstylos commented on #103
Are you able to install other packages via pip? This seems like it might be related to missing systemtools in your environment: http://stackoverflow.com/questions/17886647/cant-install-via-pip-because-of-egg-info-error -- you could try `pip install --upgrade setuptools`

[2016-10-13 20:47] jsstylos opened #108 "Support Visual Recognition similarity search"

[2016-10-13 20:48] jsstylos opened #109 "Support Speech to Text customizations"

[2016-10-22 01:03] jeffpk62 opened #110 "Add SDK support for Personality Insights version 3"
Add a new module for Personality Insights version 3.

[2016-10-24 13:57] jeffpk62 commented on #110
Committed and review comments addressed in https://github.com/watson-developer-cloud/python-sdk/pull/111

- Remove positional dependency from query parameters for test cases.
- Add example integration test example/personality_insights_v3.py.
- Fix small typo in error message in watson_developer_cloud_service.py.

[2016-10-24 13:57] #110 closed

[2016-11-02 01:37] elifriedman opened #115 "AlchemyLanguageV1: "anchorDate" not working correctly"
AlchemyLanguageV1 ExtractDates request does not return any dates if `"anchorDate"` is in the `params` input parameter of `requests.request`. It should be in the `data` parameter.

[2016-11-02 15:08] jsstylos commented on #115
I think it's more complicated than just whether or not it's in the params or data section -- I looked at this earlier, and there's some incompatibility with the way the Python requests library is encoding the parameters (spaces and colons) and the way the service is needing to accept it.

When looking at this again now I changed the code to pass the parameters in the data section for POST requests

[2016-11-07 15:21] rchaks opened #117 "topAnswers parameter not working in python-sdk for RnR"
Similar to the issue with the [node-js](https://github.com/watson-developer-cloud/node-sdk/commit/7ef790a1612a156b262e16f2963a8bb0b5402ee8) & java sdks, the RnR service's python wrapper doesn't seem to pass the `topAnswers` parameter properly as part of the RetrieveAndRank.rank(...) method (i.e. regardless of what value is passed, the service always returns the default 10).

I believe the fix is t

[2016-11-07 19:12] jsstylos commented on #117
Fixed in d6fc851e47c6ee495449ce300ed2facaec54cd30 , should go out in the next release.

[2016-11-10 20:09] claudefalbriard opened #119 "Python SDK Endpoint Configuration for watson_developer_cloud Package?"
The Python language sample code, shown below, throws an error not finding the endpoint, while the CURL example works OK. Is there a way to set the service endpoint under the Python SDK?

import json
from watson_developer_cloud import AlchemyLanguageV1
alchemy_language = AlchemyLanguageV1(api_key='#########')
myresult = json.dumps(alchemy_language.sentiment(url='url=http://www.charliechaplin.com/en

[2016-11-10 20:23] claudefalbriard commented on #119
Using the latest branch from GIThub and doing a manual build with "python setup.py install" solved the error.

[2016-11-10 20:23] #119 closed

[2016-11-15 18:57] celamb4 commented on #105
I'm having an issue with narrowband model as well. However, I can make the request but get an empty return. If I try with the regular model it says to specify narroband. If I specify narrowband it comes back empty. Let me know if I shjould open a different issue.

NOTE: I know the audio works with narroband because I tested it with the bluemix demo app. https://speech-to-text-demo.mybluemix.net/

[2016-11-15 19:07] celamb4 commented on #105
Additional information.

[2016-11-15 19:11] jsstylos commented on #105
@celamb4 Do you have a file we can use to reproduce this error?

[2016-11-15 19:13] celamb4 commented on #105
[recoding0.zip](https://github.com/watson-developer-cloud/python-sdk/files/592884/recoding0.zip)

[2016-11-15 19:14] celamb4 commented on #105
Also tried by posting a request. Here is the output.
Thanks for the quick response!

[code]

[2016-11-15 19:45] jsstylos commented on #105
Thanks @celamb4 . Got the audio file to work using the demo (which uses websockets through the Node SDK), and got the same empty results that you did using the Python SDK and Curl:

[code]

I'll investigate further with the Speech to Text service team.

[2016-11-15 21:41] jsstylos commented on #105
Ok, the issue is that the command needs `continuous=true`; otherwise it defaults to `continuous=false`, which stops sending audio after the first silence. In this file it must detect some noise before the first recognized word, then more silence which triggers the end of the recording. The Python code looks like:

[code]

[2016-11-15 21:42] jsstylos commented on #105
(The default of `continuous=false` will get changed in the next major revision of the Speech to Text API.)

[2016-11-16 14:44] #105 closed

[2016-11-16 14:48] jsstylos opened #120 "Support Discovery experimental API"
https://watson-api-explorer.mybluemix.net/apis/discovery-v1

[2016-11-16 16:15] celamb4 commented on #105
Worked like a charm. Thank you @jsstylos

[2016-12-01 16:03] durera opened #123 "Conversation: how to get the response object"
I had a quick play and set up a very basic dialog tree to allow something like ``show defect|issue|task 4567``

Testing in the "Try it out section" I can see Watson generate the expected response for various inputs, and I have set the response (using advanced settings) to:

[code]

When I send the request via the Python library (0.22.0, installed from pip) I get this response:

[code]

I can see t

[2016-12-01 16:32] jsstylos commented on #123
Hi David, this is an issue with the service and dialog definition, not the Python SDK. Without looking at your dialog nodes it's hard to debug specifically, but either the node with the output is not being hit or the output format in the node definition is not correct. This issue can also be debugged directly in the try-it-out panel inside the web tool, without the SDK. http://stackoverflow.com/qu

[2016-12-01 16:32] #123 closed

[2016-12-02 16:13] #120 closed

[2016-12-05 08:40] tobykurien opened #126 "Text-to-Speech example gives: requests.exceptions.SSLError"
Running the [text-to-speech](https://github.com/watson-developer-cloud/python-sdk/blob/master/examples/text_to_speech_v1.py) example gives this error:
[code]

[2016-12-05 08:46] tobykurien commented on #126
Closing, this might be network related.

[2016-12-05 08:46] #126 closed

[2016-12-05 19:41] #108 closed

[2016-12-05 19:52] #103 closed

[2016-12-06 20:59] nilehmann opened #131 "Possible error in WatsonDeveloperCloudService request method"
I think this line (https://github.com/watson-developer-cloud/python-sdk/blob/master/watson_developer_cloud/watson_developer_cloud_service.py#L261) is intended to say `full_url.startswith('https://gateway-a.watsonplatform.net/calls'):`. Anyways, at least for me it seems that calls work either with `api_key` or `apikey` in the `https://gateway-a.watsonplatform.net/calls/text/TextGetRankedNamedEntiti

[2016-12-06 21:11] jsstylos commented on #131
👍 Good catch. Fixed in 452f7992b9a2906f7f4933fa2a7e21c56ad94737

[2016-12-06 21:11] #131 closed

[2016-12-30 20:35] kognate opened #140 "WDS add document only allows files"
The add_document method for discovery only allows file objects.  It should also allow the addition of data in a string buffer as well as file objects.

[2017-01-02 18:41] andrew21c opened #141 "TypeError: get_news_documents() got an unexpected keyword argument 'next'"
When I run AlchemyDataNewsV1 query with added "next" argument, I got following error message,
TypeError: get_news_documents() got an unexpected keyword argument 'next'.  My python script:

results = alchemy_data_news.get_news_documents(start='now-1d', end='now',
                next = "MzY1MjY...",
                return_fields=['enriched.url.title',
                               'enriched.url.ur

[2017-01-03 16:55] #140 closed

[2017-01-03 23:51] akmnua opened #142 "[discovery] Add ability to check doc status"
The Discovery API exposes a get doc endpoint to check the status of a document after ingestion (https://www.ibm.com/watson/developercloud/discovery/api/v1/#get-doc) but this is not available via the sdk.

[2017-01-04 16:59] jsstylos commented on #141
In the Python SDK the next field should be passed as `next_page`.

[2017-01-05 07:10] andrew21c commented on #141
Thanks. Then the document on your web seems to be outdated.

[2017-01-05 13:49] #141 closed

[2017-01-05 19:03] #142 closed

[2017-01-05 20:20] kognate opened #144 "latest_version should not be used in class"
In discovery the `latest_version` should not be used in the methods.

[2017-01-05 20:34] #144 closed

[2017-01-11 14:35] #117 closed

[2017-01-11 14:37] #109 closed

[2017-01-12 21:38] jsstylos commented on #12
Some more information:

**Node SDK implementation**:
https://github.com/watson-developer-cloud/node-sdk/blob/master/speech-to-text/recognize_stream.js

**Documentation**:
https://www.ibm.com/watson/developercloud/doc/speech-to-text/websockets.shtml

**Potential Python Websocket libraries**:
http://autobahn.ws/python/index.html (used by https://github.com/HomeHabbit/stt-watson, https://github.com/w

[2017-02-02 15:10] kognate opened #148 "Add support for NLU"
Natural Language Understanding should
be supported by the sdk.

[2017-02-03 12:01] enriquetolby opened #149 "Pip release doesn't have create_configuration"
I'm using python sdk but there is no information in the API and some methods are not available. For example, using create_configuration:

![screenshot from 2017-02-03 12-56-09](https://cloud.githubusercontent.com/assets/10809216/22590650/79157df2-ea10-11e6-809e-37198a70f850.png)

[2017-02-04 01:59] kognate commented on #149
You are correct about the 0.23 version not including create_configuration.  It's in master, and a new release will be prepared.

You can use the tooling to create new configurations as a work-around.

[2017-02-06 15:34] stefanvds opened #152 "Python SDK requires Conversation API implementation for 'workspaces' endpoint."
The new Conversation endpoint supports the management of workspaces via the /workspaces API endpoint.  This functionality needs to be implemented ASAP

https://watson-api-explorer.mybluemix.net/apis/conversation-v1

[2017-02-06 16:25] kognate opened #153 "update discovery tests for flake8 warnings"

[2017-02-06 20:13] #153 closed

[2017-02-08 01:51] kognate commented on #148
Closed by #151

[2017-02-08 01:51] #148 closed

[2017-02-08 15:50] kognate opened #156 "tradeoff analytics example needs improvement"
As referenced in #155 the example for tradeoff analytics
is very simple.  This example should be expanded to
show more of actual use.

[2017-02-09 17:58] kognate opened #157 "nlu tests are not pep8"

[2017-02-09 18:24] #157 closed

[2017-02-16 06:20] geetanjali10 opened #160 "Error while running the code"
I have modified my code for my use
[code]
but I am getting an error saying "Resource not found, Code: 404"
Can you help me why it is showing this?
Since I have tried to debug it a lot.

[2017-02-16 12:13] chughts commented on #160
Please note: You have posted your service credentials in a public forum, and hence they are now compromised. Please revoke them as soon as you can.

This question is a usage error. Please post on either DeveloperWorks Answers or Stack Overflow, where I or one of my colleagues will be able to answer.

[2017-02-17 05:04] geetanjali10 commented on #160
No these are not correct. It was just a sample

[2017-02-18 03:42] germanattanasio commented on #160
This was a problem in the service. Try to download the json and creating a new workspace.

[2017-02-18 03:42] #160 closed

[2017-02-20 05:05] geetanjali10 opened #161 "Unable to import package"
I tried to run this code:

import sys
import os
sys.path.append(os.path.join(os.getcwd(),'..'))
import watson_developer_cloud
import watson_developer_cloud.nlu.features.v1 as features

but here it is showing: No module named 'watson_developer_cloud.nlu'
Kindly help me with importing watson_developer_cloud.nlu.features.v1

[2017-02-20 14:00] jsstylos commented on #161
The package name was changed to `natural_language_understanding`, the Python notebook example was fixed in 0812ef710cb38faed4797712616dfc06d47dccc8

[2017-02-20 14:00] #161 closed

[2017-02-20 21:16] kognate commented on #156
This is not going to be done any time soon.

[2017-02-20 21:16] #156 closed

[2017-02-21 18:27] scchow opened #162 "Support for different models in AlchemyLanguageV1"
Hi,
I am wondering if there is support for different models created by Watson Knowledge Studio.

I was looking at the Watson Developer Cloud [documentation for AlchemyLanguage](https://www.ibm.com/watson/developercloud/alchemy-language/api/v1/?python#custom-models) and couldn't find the correct command if there is one.

To clarify, I have trained a model using Watson Knowledge Studio and am trying

[2017-02-21 18:33] kognate commented on #162
The deployment process is handled in the WKS tooling, not the api.

Once you have deployed your WKS model you can reference that model ID in the endpoint that supports it (like Entities and typed relations).  The combined call does not allow you to specify a model ID.

[2017-02-21 18:33] #162 closed

[2017-02-21 18:34] kognate commented on #149
This shipped in the 0.24 version today.

[2017-02-21 18:34] #149 closed

[2017-02-21 18:38] scchow commented on #162
Thank you so much. Was looking in the wrong place the whole time. 👍

[2017-02-23 15:48] belgort opened #163 "Error importing library"
I'm using the watson_developer_cloud Python library to experiment with Watson. I have used PIP to install the watson_developer_cloud. This appears to work. When I try this:

import watson_developer_cloud.natural_language_understanding.features.v1 as features

I get an error saying: ModuleNotFoundError: No module named 'watson_developer_cloud.natural_language_understanding'

Thanks for your help

[2017-02-23 16:37] kognate commented on #163
What version of python and sdk are you using?

[2017-02-23 16:40] belgort commented on #163
I used pip install and also pip —upgrade to get the latest.

[2017-02-23 16:40] belgort commented on #163
Python is V3.6

[2017-02-23 16:49] kognate commented on #163
I'm looking into this.  It works on python < 3.6 but I can replicate this on python 3.6 (which is odd)

[2017-02-23 16:55] belgort commented on #163
Just installed in 3.5 and got same results:

https://www.dropbox.com/s/wwedzq8ewby33dq/Screenshot%202017-02-23%2008.54.25.png?dl=0 <https://www.dropbox.com/s/wwedzq8ewby33dq/Screenshot%202017-02-23%2008.54.25.png?dl=0>

https://www.dropbox.com/s/tjoiyr6zvkmp3ok/Screenshot%202017-02-23%2008.54.48.png?dl=0 <https://www.dropbox.com/s/tjoiyr6zvkmp3ok/Screenshot%202017-02-23%2008.54.48.png?dl=0>

[2017-02-23 16:56] belgort commented on #163
Also, same after installing in 2.7

https://www.dropbox.com/s/0ojerfsacjfsb60/Screenshot%202017-02-23%2008.55.57.png?dl=0 <https://www.dropbox.com/s/0ojerfsacjfsb60/Screenshot%202017-02-23%2008.55.57.png?dl=0>

[2017-02-23 19:16] kognate commented on #163
Thanks for reporting this.  I think I got it sorted.  And you are correct, this happens on everyone's machine but I couldn't replicate it locally at first because of me.

When that PR get's reviewed we should be able to update the release and get that fixed.

Thanks for your help @belgort

[2017-02-23 19:40] belgort commented on #163
Excellent! Is there an anticipated release date? I won’t hold you too it.

[2017-02-23 19:54] kognate commented on #163
I would expect tomorrow at the latest.

[2017-02-23 20:07] #163 closed

[2017-02-23 20:32] #152 closed

[2017-02-23 21:07] belgort commented on #163
Thank you.

Regards,

Bruce Elgort

[2017-02-24 17:05] belgort commented on #163
Will the code also be updated on PIP?

[2017-02-24 18:20] germanattanasio commented on #163
@jsstylos can you do
[code]

[2017-02-24 18:29] jsstylos commented on #163
This should already be updated in 0.25.0 -- the only commit to happen since then is to the .ipynb file, and not directly related to the issue. Is the problem reproducible on 0.25.0?

[2017-02-24 19:16] belgort commented on #163
I’m now getting credentials errors that were not occurring yesterday:

https://www.dropbox.com/s/6lp0r0kheohrztw/Screenshot%202017-02-24%2011.15.54.png?dl=0

[2017-02-24 19:21] jsstylos commented on #163
The credentials issue seems likely unrelated to the update -- if you uninstall and pip install 0.24.0 do you still get a credentials issue?

[2017-02-24 20:37] belgort commented on #163
On 0.24.0 I get this: https://www.dropbox.com/s/pjxej4wiml0r9kq/Screenshot%202017-02-24%2012.37.01.png?dl=0 <https://www.dropbox.com/s/pjxej4wiml0r9kq/Screenshot%202017-02-24%2012.37.01.png?dl=0>

[2017-02-24 20:39] kognate commented on #163
@belgort you'll need to supply the URL to use the staging URL until the service is available on Monday.  Staging credentials won't work on the prod front end until the tile is up.

[2017-02-24 20:40] belgort commented on #163
Where do I find this?

[2017-02-24 20:41] kognate commented on #163
You should contact the OM or salesperson who gave you the staging credentials.

[2017-02-24 20:42] belgort commented on #163
I did this all on my own through Bluemix. No one from IBM was involved. I’m so confused :(

[2017-02-24 20:44] kognate commented on #163
Sorry for the confusion.  I assumed that since you were using the service you were given early access.  The NLU service is not released yet so you won't be able to use it until it is.  When it gets released, you'll be able to create a service instance in the Bluemix console and get credentials.

The SDKs provide support for NLU ahead of the service launch for teams given early access.

[2017-02-24 20:44] belgort commented on #163
Here is where I got started on Bluemix: https://www.dropbox.com/s/ksy0s69qi3zqmr4/Screenshot%202017-02-24%2012.43.44.png?dl=0 <https://www.dropbox.com/s/ksy0s69qi3zqmr4/Screenshot%202017-02-24%2012.43.44.png?dl=0>

[2017-02-24 20:45] kognate commented on #163
OK,   That is the Natural Language Classifier service,  not the Natural Language Understanding service (I realize that may not help the problem, the names are _way_ too similar).

[2017-02-24 20:47] belgort commented on #163
Ah and not seeing that on Bluemix. So wait until Monday for it to be available within Bluemix?

[2017-02-28 18:18] belgort opened #167 "NLU example erroring out"
Hello,

I see that NLU is now available on Bluemix. I gave it a try, creating new credentials and I'm receiving an error: https://www.dropbox.com/s/i3b9kwnq2rslbr8/Screenshot%202017-02-28%2010.17.50.png?dl=0

Any help you can provide would be appreciated.

[2017-02-28 18:27] kognate commented on #167
I'm having trouble seeing that box link.  Can you paste in the error message as text?

[2017-02-28 18:33] jsstylos commented on #167
There's a bug in the latest version of the SDK on pip that attempts to use a non-public service url. There will be a new release shortly.

[2017-02-28 18:36] belgort commented on #167
Traceback (most recent call last):
  File "/Users/bruceelgort/Dropbox/bluemix/nlu.py", line 17, in <module>
    features=[features.Entities(), features.Keywords()])
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/watson_developer_cloud/natural_language_understanding_v1.py", line 84, in analyze
    accept_json=True)
  File "/Library/Frameworks/Python.framework/

[2017-02-28 19:15] jsstylos commented on #167
Should be fixed now in 0.25.1

[2017-02-28 19:15] #167 closed

[2017-02-28 19:18] belgort commented on #167
Yes it does now work. Thank you!

[2017-03-01 17:44] gkumbhat opened #168 "Confusion in README for using VCAP_SERVICES"
The way it is implemented in python-sdk, there is a confusion in the python-sdk README. It says :
[code]
However, if somebody want to use the `VCAP_SERVICES` path then the username and passwords needs to be `YOUR SERVICE USERNAME` and `YOUR SERVICE PASSWORD` respectively in their app because it is doing string match on these to get the creds automatically. So if somebody puts something else into t

[2017-03-01 18:03] jsstylos commented on #168
If users are intentionally using VCAP_SERVICES then the username and password should not be specified at all -- YOUR SERVICE USERNAME and YOUR SERVICE PASSWORD are intentionally ignored so that users get the right error message if they accidentally leave it in (and so the examples can easily function as integration tests).

[2017-03-02 20:15] belgort opened #169 "Error in Speech to Text Demo"
Hello,

When I try to run the demo of speech to text using the example wave file I get the following error:

Traceback (most recent call last):
  File "/Users/bruceelgort/Dropbox/bluemix/speech_to_text.py", line 19, in <module>
    word_confidence=True),
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/watson_developer_cloud/speech_to_text_v1.py", line 60, in r

[2017-03-02 20:24] kognate commented on #169
That error means the service doesn't think the data you are uploading is audio.

can you play the file locally?

[2017-03-02 21:50] belgort commented on #169
It’s now working correctly after re-download the file. Sorry for the bother.

[2017-03-02 21:57] jeffeisen commented on #169
Glad to hear it's working for you and that you are checking out the service.   As always, anything we can do to help, Bruce.   Always happy to see the name of a longtime partner fly by.

-Jeff

[2017-03-02 22:05] #169 closed

[2017-03-03 04:45] belgort opened #170 "Speech to Text Cutting Off"
Hello,

I'm using the Python Speech to Text API which is pretty awesome. I am however finding that it's cutting off after the first few words in this file:

https://www.dropbox.com/s/m3wngsqmidaj249/ibm.wav?dl=0

It cuts out after the first pause. Thank you as always for your awesome support.

Bruce

[2017-03-03 13:09] jsstylos commented on #170
Hi Bruce, that sounds like an issue with the parameter `continuous`, which is set to `False` by default, but if you set it to `True` you'll get the expected behavior. (This is really an API design flaw, as `continuos=True` is the behavior most users want and expect, but because it's a breaking change, we're waiting until the next major release to fix it.)

[2017-03-03 15:55] belgort commented on #170
Here is the code I use:

   data = json.dumps(speech_to_text.recognize(
        audio_file, content_type='audio/wav', timestamps=False,
        word_confidence=False,continuous=True),
        indent=2)

With continuous=True I’m still seeing the same behavior.

[2017-03-03 16:36] jsstylos commented on #170
When I run the code:

[code]

I get the results:

[code]

This looks right to me (the service returns an array of results with one per utterance).

[2017-03-03 16:37] kognate commented on #170
I posted the output I get here https://gist.github.com/kognate/d53ff23e1bf8885b536216e998925e02

I see both sentences in the file,

"transcript": "today I have been playing with IBM Watson ",
          "transcript": "IBM Watson is a supercomputer me by the IBM corporation based in Armonk New York ",

Are you seeing a partial string, or one or more of these transcripts?

[2017-03-03 16:39] belgort commented on #170
Thanks for this. I will move onto the next service and give it a try again later. I do appreciate your assistance. Thank you again.

[2017-03-06 11:20] DVBVV opened #171 "TypeError: concepts() got an unexpected keyword argument 'knowledgeGraph'"
Dear Miss./Mr.,

When using the knowledgeGraph example in concepts request from the alchemy-language api.

See: https://www.ibm.com/watson/developercloud/alchemy-language/api/v1/?python#concepts

I get the following error:
TypeError: concepts() got an unexpected keyword argument 'knowledgeGraph'

Code Example from the above URL:
**mport** json **from** watson_developer_cloud **import** AlchemyLang

[2017-03-06 13:43] jsstylos commented on #171
Hi, thanks for the report. The knowledge_graph parameter was missing from the concepts method in AlchemyLanguage. It has been added (as `knowledge_graph`, to match the casing of the other parameters) and will be in the next release.

See also the NaturalLanguageUnderstanding service, which is the successor to AlchemyLanguage.

[2017-03-06 14:06] DVBVV commented on #171
Dear JS Stylos,
Do you know when this release  is available, and is AlchemyLanguage going to be phased out and it is going to be NaturalLanguageUnderstanding?

[2017-03-06 14:06] DVBVV commented on #171
Thank a lot btw for reacting!

[2017-03-06 14:21] jsstylos commented on #171
No problem. The deprecation date for AlchemyLanguage hasn't been announced yet, but users are encouraged to start looking at NaturalLanguageUnderstanding, which also has some lower costs.

[2017-03-06 14:27] DVBVV commented on #171
Then rises the question, to what extend the knowledgeGraph is going to be still available? And if not what is replacing it. In the Alchemy API there is availability of taxonomy which translates into categories in the NaturalLanguageUnderstanding API, this is not necessarily the same as the knowledgeGraph, or is it??
I do not see the option of knowledgeGraph under concepts in the NLU API anymore...

[2017-03-06 16:35] kognate opened #172 "NLU service name is wrong in the sdk"
The NLU service name is serperated by dashses and not underscores.

[2017-03-06 16:38] #172 closed

[2017-03-08 23:44] boxcarton opened #174 "Discovery create_environment should allow size=0"
https://github.com/watson-developer-cloud/python-sdk/blob/master/watson_developer_cloud/discovery_v1.py#L77

Actual API allows size=0 for free tier.

[2017-03-08 23:45] kognate commented on #174
Nice catch.

[2017-03-08 23:46] belgort commented on #170
This issue can be closed.

[2017-03-08 23:48] #170 closed

[2017-03-09 14:12] #174 closed

[2017-03-14 20:44] jsstylos commented on #115
See: http://stackoverflow.com/questions/21823965/use-20-instead-of-for-space-in-python-query-parameters

[2017-03-14 21:05] jsstylos commented on #115
See also: http://stackoverflow.com/questions/42349000/python3-requests-use-quote-instead-of-quote-plus

[2017-03-17 04:59] josepmao commented on #12
@germanattanasio any ETA for this one, current one actually facing problem with some of the audio files.  I get a customer report in parature ticket #5377-13274872, with certain wav file, it does not provide expected output.  I can reproduce, but the wav file is 27M, not able to upload here.  If you need, I can provide box link through email.

Also, if you think we need a separate issue please let

[2017-03-17 12:21] kognate commented on #12
I will fix this today.

[2017-03-17 12:25] germanattanasio commented on #12
Josh I want to know what solution you will propose. If requests provides
websocket support that's great if you need to find a new library then we
want to use one thar works in all the different Python versions.

Thanks for doing this 🙏
On Fri, Mar 17, 2017 at 8:21 AM Joshua Smith <notifications@github.com>
wrote:

[2017-03-17 12:29] kognate commented on #12
Jeff already suggested Autobahn, which is a reasonable choice.  I was going to use it (should be fine)

[2017-03-17 15:41] saraswat commented on #22
Curious why this was closed without resolution? I tried
[code]
with `article` a Chinese string, and got a unicode error. I had to do this to get a response from the service:
[code]

The underlying problem is captured by this portion of the backtrace:
[code]

So I would recommend either (a) fixing the code so it does not use `text/plain`, or (b) adding comments to the code so that a developer can p

[2017-03-17 15:49] daniel-bolanos commented on #12
Hi @kognate if you go with Autobahn then you can get inspiration from this tool I created a while back: https://github.com/watson-developer-cloud/speech-to-text-websockets-python

btw. I have also tried the Tornado websockets library successfully with STT, which may be even simpler than Autobahn

[2017-03-17 15:53] kognate commented on #12
I was basically going to take most of the code from that @daniel-bolanos

[2017-03-17 17:07] jsstylos commented on #22
I can't tell if this is the same issue or another one. The original issue was closed because it wasn't reproducible in the mainstream Python deployments only the SK ones.

Is there a concrete example that breaks the standard Python build?

[2017-03-17 20:59] kognate commented on #12
I'm still working on this,  but I'll get it done before monday.

[2017-03-18 13:04] saraswat commented on #22
Yes, of course -- the above traceback is from such an example. See the string at the end of the error message.

```UnicodeEncodeError: 'latin-1' codec can't encode characters in position 0-14: Body ('张燕生：中国从制造到智造转型难') is not valid Latin-1. Use body.encode('utf-8') if you want to send it encoded in UTF-8.```

[2017-03-20 02:11] kognate commented on #12
OK,  I'm still working on the twisted/tornado version.  I've got a version that works for python >=3.5
at https://github.com/kognate/watson_speech_to_text_websockets

While I'm super happy with the async code,  I think the version support is going to be an issue.  The autobahn lib was giving me a lot of grief integrating it into the existing stt class.

Now that I've pushed the one working version

[2017-03-20 03:47] kognate commented on #12
I just pushed a PR that adds autobahn websockets support.  This one needs a lot of review.

[2017-03-23 20:11] prateekpg2455 opened #180 "Error 400: Request to fetch blocked: disallowed"
I have been trying to query Watson's NLU API. I have a paid version of API. It is giving me this error again and again.
[code]
It keeps on giving me error:
[code]

**Attempts to solve the above problem:**

1. After using python debugger, I found that the request going out from above has the 'data' parameter which is a string.

[code]

Request's documentation says that data is a dict or tuple, byte

[2017-03-23 20:25] kognate commented on #180
That error looks like it's comming from the site.  Can you verify the robots.txt allows this kind of fetch?

[2017-03-23 20:29] prateekpg2455 commented on #180
Where can I find that?

[2017-03-23 20:47] jsstylos commented on #180
From http://www.cynopsis.com/robots.txt it looks like programmatic is disabled except for certain user agents, so I think this is the Natural Language Understanding service being a good robot citizen, although the error message wording could probably be a little clearer.

[2017-03-23 20:47] #180 closed

[2017-03-23 20:59] prateekpg2455 commented on #180
Natural Language Understanding is a good robot citizen but not Alchemy API, but it is going to be deprecated soon.

[2017-03-23 21:02] jsstylos commented on #180
You can choose not to be a good citizen and use a white-listed user-agent to programmatically fetch the page and pass it to the service; other than that (or requesting the site to provide a more lenient robots.txt), I'm not sure what else to suggest.

[2017-03-27 13:32] data-henrik commented on #94
The API reference still lacks many Python examples

[2017-03-27 13:45] jeffpk62 commented on #94
Sadly, the Speech API reference lacks references to Python entirely.  I really apologize for the delays, but I have unfortunately been assigned to a higher-priority task for the past three weeks.  Python remains high on the list of things to address once I return to the services.  Again, I am very sorry for the delay.

In the interim, parameter names for Python are generally similar to those for N

[2017-03-27 15:31] data-henrik commented on #94
I wrote this example for the Conversation API related for workspaces https://github.com/data-henrik/watson-conversation-tool
Maybe something similar could be added to the Conversation service as CLI?

[2017-03-27 20:21] germanattanasio commented on #94
That's pretty good @data-henrik

[2017-03-29 05:28] data-henrik opened #181 "Add Intents, Examples and Counterexamples to Conversation SDK"
The API has been updated early February and not all features are supported by the Python SDK.

https://www.ibm.com/watson/developercloud/conversation/api/v1/#versioning

[2017-03-29 11:14] kognate commented on #181
Yes, there is work going on now to support those features.  I don't have an ETA for them.

[2017-03-29 13:05] mikayla-grace opened #182 "Natural Language Understanding Example With URL Returns Exception"
Using natural_language_understanding_v1.py with a URL against a Bing news RSS feed returns this exception:

[code]
Some other URL's work fine.  Here is the relevant call:

[code]

[2017-03-29 13:47] kognate commented on #182
The `robots.txt` file at https://www.bing.com/robots.txt appears to block robots from `/news/search?`.

Sorry the error message isn't more clear.

Related to #18

[2017-03-29 14:53] mikayla-grace commented on #182
I can see where it might fail if you are crawling the website but in this case we're analyzing just one web page.  Python's ```requests.get()``` can download single page results from Bing news as well as ```curl``` and ```wget```.   We could use Python's ```requests.get()``` extension to download the page ourselves and pass the contents to NLU as text, but our preference is to pass a URL to NLU an

[2017-03-29 15:36] kognate commented on #182
Python requests doesn't check the `robots.txt' so  I think this is the Natural Language Understanding service being a good robot citizen, although the error message wording could probably be a little clearer.

You can choose not to be a good citizen and use a white-listed user-agent to programmatically fetch the page and pass it to the service; other than that (or requesting the site to provide a

[2017-03-29 15:41] mikayla-grace commented on #182
Thanks, we'll extract the direct URL from Bing / Google News and go directly to the news source.  They likely will have a friendly robots.txt file NLU can fetch from.

[2017-03-29 15:41] #182 closed

[2017-03-29 18:55] jsstylos commented on #171
AlchemyLanguage is now officially deprecated, AlchemyLanguage service instances will continue to work until March 2018 (https://www.ibm.com/watson/developercloud/doc/alchemylanguage/).

The Natural Language Understanding API concepts feature doesn't currently support the knowledge graph type-hierarchy.

[2017-03-29 18:55] #171 closed

[2017-03-29 18:56] #168 closed

[2017-03-29 19:39] jsstylos commented on #22
I was able to reproduce this issue on Python 3+, although it worked fine on Python 2.7. Unfortunately, I haven't been able to find a good solution that works on both Python 2 and Python 3.

`'你好'.encode('utf-8')` works on Python 3 but not on Python 2. The following is the only code I've been able to get to work on Python 2 and 3 at the same time, but it's fairly inelegant and I'm not sure it's the

[2017-03-29 20:17] jsstylos commented on #22
After some more digging, it sounds like the right solution is probably to conditionally encode the data (and json?) parameters to request when the Python version >= 3.

[2017-03-29 20:27] saraswat commented on #22
What happens if you encode in Python 2.x? Isn't the encoding idempotent?

[2017-03-29 20:39] jsstylos commented on #22
@saraswat Trying to `.encode('utf-8')` on Python results in the error: ```Traceback (most recent call last):
  File "test.py", line 16, in <module>
    test_string = '你好'.encode('utf-8')
UnicodeDecodeError: 'ascii' codec can't decode byte 0xe4 in position 0: ordinal not in range(128)
[code]

[2017-03-30 13:28] jsstylos commented on #22
Should hopefully be fixed in https://github.com/watson-developer-cloud/python-sdk/pull/183

[2017-03-30 17:16] #22 closed

[2017-03-30 18:51] rchaks opened #185 "Add ability to escape special characters when querying discovery"
### Feature request

### Current behavior
When using the sdk to query a discovery instance, I currently have to manually escape special characters from the query string before passing it to the API like so:

[code]
### Desired behavior
It would be nice to have the option to include a flag or something that would auto-escape the special query operators from the query text.

### Reason for Suggestin

[2017-03-30 18:54] jsstylos commented on #185
Good suggestion. We should figure out how to coordinate the escaping across SDKs. I think always escaping is probably reasonable behavior -- right now there's no use case (that we'd want to support) that includes passing special characters without having them escaped.

[2017-03-31 18:18] markstur opened #186 "Add ability to create the free Discovery environment in a trial account"
To create the freebie Discovery environment, I need to call create_environment(..., size=0).
But the SDK currently has a check that requires size of 1, 2 or 3.
It seems zero should be allowed to enable auto-deployment of example Discovery apps to trial accounts.

[2017-03-31 18:20] jsstylos commented on #186
Are you using 0.25.2? This was (hopefully) fixed in the latest release.

[2017-03-31 18:51] markstur commented on #186
Yeah. Turns out we were pinned to 0.25.1.  Sorry. Not tested, but the code seems to be fixed.

[2017-03-31 18:51] #186 closed

[2017-04-03 03:39] labalekhan opened #187 "Using buffered files to create custom visual recognition classifier"
I am using IBM data Science Experience notebooks to create a custom classifier for the visual recognition service. I have the training zip files loaded into Object storage. But when I try to create the custom classifier it fails with the error message.

"explanation": "Cannot execute learning task : Could not train classifier. Verify there are at least 10 positive training images for at least 1 cl

[2017-04-03 11:23] kognate commented on #187
What version of python are you using?

[2017-04-03 12:00] DVBVV commented on #171
Dear JS, to what extend do you expect IBM to come up with the knowledge-graph as a functionality, or is it not on the roadmap?

[2017-04-03 14:24] kognate commented on #187
Also, without seeing your code, it's a little difficult to comment.   Can you post the notebook you're using (without credentials, of course) or at least the relevant segments?

[2017-04-04 00:05] labalekhan commented on #187
I am using Python 2.

Below is what I am trying to do.

`
import swiftclient
import keystoneclient.v3 as keystoneclient
import StringIO
import io

credentials = {
 // Credentials
}

auth_url = credentials['auth_url'] + '/v3'
project_name = credentials['project']
password = credentials['password']
user_domain_name = credentials['domain_name']
project_id = credentials['project_id']
user_id = credent

[2017-04-04 13:36] Cheppert opened #188 "Issue parsing new url to conversation_v1.py"
We're using the Watson services in Frankfurt, Germany. The WCS in Germany has another gateway url. So we tried to parse a new url to the conversation_v1.py using url=https://gateway-fra.watsonplatform.net/conversation/api'. But we're always getting the following error. We are using Python 2.7.11.

Traceback (most recent call last):
  File "examples/flowtest.py", line 45, in <module>
    results =

[2017-04-04 13:57] kognate commented on #188
I just setup a python 2.7 environment and was able to hit the German region conversation api if
I installed pyOpenSSL

`pip install pyOpenSSL`

If I didn't have that installed, then I got the same error you show here.  If you can confirm that fixes the issue, I'll update the package and push a new version with the fixed requirements.

[2017-04-04 14:44] Cheppert commented on #188
Working like a charm! Thanks for this fast support.

[2017-04-04 18:59] kognate commented on #187
You have to upload the files slightly differently than you are doing.  Here is a repo https://github.com/kognate/python-sdk-187

that repo has a notebook that shows you how to do this.  It's fully supported by the sdk, you just have to provide some extra metadata and you don't have to save it locally to a file.

[2017-04-04 18:59] #187 closed

[2017-04-04 20:26] jsstylos commented on #171
@DVBVV No plans yet, but based on demand it could get added, so I'll note your inquiry with the service team.

[2017-04-05 00:14] labalekhan commented on #187
@kognate thank you, that works perfectly.

[2017-04-06 19:29] #188 closed

[2017-04-07 14:06] kognate opened #190 "fix VR example code formatting"
The example is correct but it's indentation makes it somewhat confusing.

[2017-04-07 14:30] #190 closed

[2017-04-19 18:19] daavoo opened #194 "VisualRecognitionV3.classify on local zip file"
In:

https://github.com/watson-developer-cloud/python-sdk/blob/master/watson_developer_cloud/visual_recognition_v3.py#L139

Says that you can use a zip file as argument. However when I try to use the following code locally:

[code]

The following error raises:
[code]

I notice that the test don't cover this functionality:

https://github.com/watson-developer-cloud/python-sdk/blob/master/test/test_

[2017-04-19 18:23] kognate commented on #194
It should be, but let me look into this.

[2017-04-19 18:52] kognate commented on #194
it works in python 2.7 but not in 3.6,  I think I know what the problem is, so I'll have a fix soon or an explanation of why my theory was wrong.

[2017-04-20 01:59] #181 closed

[2017-04-20 14:07] kognate commented on #194
My theory was wrong,  and I'm getting a data encoding error when I try to post with 3.7.

[2017-04-20 14:25] daavoo commented on #194
Thanks for the quick response!.

I'm currently unzipping the file locally and calling `classify` on one image at a time as workaround.

Looking foward to updates :)

[2017-04-27 01:15] UmanShahzad commented on #194
Since I'm going to be using VR3 very soon and possibly classifying in zip files, I'll also be looking into this as I work. Any progress on the issue would be appreciated so I don't duplicate effort.

[2017-04-27 18:22] jsstylos commented on #194
I'm having a hard time reproducing this. I updated the integration test to use a zip and it worked on Python 2.7, 3.4 and 3.5, but then I bumped into the transaction limit for the day and am waiting to resolve that.

Are there specific zip files that fail and others that don't, or environmental factors?

[2017-04-27 19:22] daavoo commented on #194
So, I used the following script to test this locally:

[code]

And I created [this gist](https://gist.github.com/daavoo/b6e5e07f872fadc5743c2dbe2eca4bf4) to share the results with you.

I'm using conda to create the isolated enviroments. Package details are on the gist.

So, based on my local results, looks like zip files with > ~10 images inside are the problem. Maybe something wrong with big HTT

[2017-04-27 19:50] jsstylos commented on #194
Ok, I downloaded the `beagle.zip` file and was able to reproduce at least one problem. The response was a `413 - Request Entity Too Large`, which was not getting displayed by the Python SDK because the response was in html instead of JSON: ```'<html>
<head><title>413 Request Entity Too Large</title></head>
<body bgcolor="white">
<center><h1>413 Request Entity Too Large</h1></center>
<hr><center>ng

[2017-04-28 10:52] daavoo commented on #194
Thanks @jsstylos . Copy that. Use images < 2Mb.

I suppose that I should close this.

[2017-04-28 10:52] #194 closed

[2017-05-02 15:38] jasonfox opened #199 "Attempt to fetch failed: :closed"
We are receiving this vague error for certain URLs when using Watson's NLU API. I saw in [a previously closed issue](https://github.com/watson-developer-cloud/python-sdk/issues/182) that the cause might be the site's robots.txt preventing Watson from scraping the URL.

However, in our case, it doesn't seem to be the issue. Also, in cases when robots.txt was blocking Watson we've seen this, appropr

[2017-05-03 19:07] jsstylos commented on #199
One potential issue in the `robots.txt` is:

[code]

Which looks like it should disallow requests that aren't between 1am and 6:45am GMT. I can't tell if there are other issues, or why the response is different, but I have an issue opened internally on improving the error message for rejected requests.

[2017-05-03 20:03] bcruga opened #200 "Unable to classify zip files"
I've been trying to classify a .zip file using the example command:
-----------------------------------------------------------------
[code]
-----------------------------------------------------------------
however, the only result I'm getting is this error
[code]

Is there a specific way to zip files for Watson's VR?

[2017-05-03 20:07] kognate commented on #200
how many images are in the zip file file and how big are they?  If the zip file has more than 10 images and/or the images are larger than 2mb sometimes the error returned is not helpful.

Also, what version of python are you using?

[2017-05-03 20:13] bcruga commented on #200
i've tried with 10 and 5 per zip, but all of them return the same. The file size is about 18kb, very small.

I'm using python 3.5

[2017-05-04 14:48] jsstylos commented on #200
Can you upload one of the zip files somewhere so we can reproduce?

[2017-05-04 19:21] jasonfox commented on #199
Thanks for your reply. I missed that in the robots.txt and I bet that does explain it. Normally, the process we have that uses the NLU API runs over night, so, in production it probably should be fine; this issue came up in testing during the day.

Also, thanks for putting in the request to improve the error message. I'll close this issue now.

[2017-05-05 18:38] bcruga commented on #200
[35.zip](https://github.com/watson-developer-cloud/python-sdk/files/979994/35.zip)

[2017-05-05 19:00] jsstylos commented on #200
This zip file works for me in Python 3.5.0 and 2.7.12. Are you sure that `'..//file.zip'` is picking up the right file? Do any other local files work for classification?

[2017-05-05 19:04] bcruga commented on #200
if i put a picture in which is in the same folder as the .zip, it works, but every zip i try, it fails. yeah the '..//file.zip' is the path to the zip file. I even tried putting both together in the same folder, and simply using with open ('35.zip', 'rb') ... but still gives the same error.

[2017-05-05 19:21] jsstylos commented on #200
One thing to try is to verify that the file is being loaded correctly by listing the contents of the zip file before trying to classify it:

[code]

For me this prints out:

[code]

[2017-05-05 20:00] bcruga commented on #200
File Name                                             Modified             Size
35.png                                         2017-04-11 16:14:52         3268
36.png                                         2017-04-11 16:14:52         3133
37.png                                         2017-04-11 16:14:52         2828
38.png                                         2017-04-11 16:14:52         2594

[2017-05-05 20:17] jsstylos commented on #200
Very weird. Do you have the same issue when trying to use the Node SDK? Can you reproduce the issue in another environment?

[2017-05-08 16:44] bcruga commented on #200
Sorry I can't reproduce it in another environment, only python.

[2017-05-08 17:18] jsstylos commented on #200
Can you reproduce it on a different machine?

[2017-05-09 11:33] vikitripathi opened #202 "Unable to add Images to Custom Collection using visual_recognition_v3 add_image in Python"
**I have been trying to add images to custom collection to perform similar search later on**

[code]

but i always get
Image format issue , 400

Is there any base64 type encoding required ?

[2017-05-09 11:37] kognate commented on #202
Can you post the whole response you are getting?

[2017-05-09 11:45] vikitripathi commented on #202
@kognate

**Error: Invalid input image, Code: 400**

[2017-05-12 18:45] daniel-bolanos commented on #12
Hi @kognate @germanattanasio how is this thing going? ready for prime time?

thanks

[2017-05-12 20:18] germanattanasio commented on #12
We want to have a solution that works for different versions of python. This doesn't work for some of those versions and that's why we didn't merge it yet.

[2017-05-12 20:20] daniel-bolanos commented on #12
Hi @kognate @germanattanasio how is this thing going? ready for prime time?

thanks

[2017-05-16 18:35] jsstylos commented on #115
The AlchemyLanguage service has been deprecated so closing this out.

[2017-05-16 18:35] #115 closed

[2017-05-17 06:44] erikjasiak opened #203 "pip install after bump to 0.26.0 now requires compiler for cffi (may be intentional?)"
All containers that I used to run "pip install watson-developer-cloud" broke this afternoon - the containers were intentionally built without a compiler.

Looks like the bump to 0.26.0 [earlier today](https://github.com/watson-developer-cloud/python-sdk/releases) requires cffi>1.4.1, which either requires a working compiler to install or has invalid flags being passed to it.

Changing containers t

[2017-05-17 08:07] erikjasiak commented on #203
It seems the cffi requirement came along with the addition of pyOpenSSL:
[Commit 1](https://github.com/watson-developer-cloud/python-sdk/commit/b7174920a6c5c33f2955eda4be257816368688c5)
[Commit 2](https://github.com/watson-developer-cloud/python-sdk/commit/8129da18b4fac3af17a20d82a44973375221d90e)

[pyOpenSSL requires cryptography](https://pyopenssl.readthedocs.io/en/stable/install.html#) (see "wa

[2017-05-17 18:11] jsstylos commented on #203
Thanks for the heads up. We saw issues with not requiring an SSL library in some but not all environments, but it's good to know that requiring it has issues. We're looking into this but the options seem to be:

a) Remove pyOpenSSL requirement, fixing this issue but regressing on the SSL one (which is more common? not sure yet)
b) Try to find another SSL library without cffi dependency (so far no

[2017-05-17 22:19] erikjasiak commented on #203
Thanks for the reply - that about covers it.  I'll see if I can dive into exploring any of those later this evening.

Only other option I'm exploring is a workaround using [MultiStage builds in docker](https://docs.docker.com/engine/userguide/eng-image/multistage-build/), which I'm happy to share instructions for if it works.  But those are very new and clearly a Docker-focused solution.

[2017-05-17 22:25] ahsen1402 opened #204 "Speech to text"
Hi All,

thanks for the great api. I am getting errors when i upload files with size >= 100 mb and it returns an error? Any reason what the reason is or how do i solve it? Is the error on the python or IBM side. the error code is like this:

[code]

Thanks

Thanks

[2017-05-18 12:38] ahsen1402 commented on #204
I was able to fix above issue by setting continous=True and I was able to run one wav file correctly, however for the second one i get the error below. I have not changed anything in the code but the file name so I get this error, could this be related to the issue me being in the trial period yet?

[code]

[2017-05-19 14:09] iethan opened #206 "Caching Post Requests"
Is there a way to cache requests via POST? Not sure if Watson allows for caching headers.

[2017-05-19 15:28] jsstylos commented on #206
The Watson REST APIs do not currently support cache headers, but if they start to we'll try to add support for that in the SDK.

[2017-05-19 15:28] #206 closed

[2017-05-19 21:42] alexchao opened #207 "SpeechToTextV1.add_corpus() uses wrong http method (GET, should use POST)"
Currently, using `add_corpus` will break with a `WatsonException: Unknown error` error. This is due to the method using the wrong HTTP method (GET, instead of POST). The tests don't catch this because the assertion in `test_custom_corpora` only checks the number of requests made and not the details of those requests.

I have a patch that should be ready soon.

[2017-05-19 21:59] alexchao commented on #207
After changing the test to use `responses` `assert_all_requests_are_fired` flag, test fails:
[code]

[2017-05-20 00:09] germanattanasio commented on #204
There is a 100MB limitation imposed by the service.

See: https://www.ibm.com/watson/developercloud/doc/speech-to-text/input.html#limits

[2017-05-20 00:09] #204 closed

[2017-05-23 15:00] #207 closed

[2017-05-26 13:18] davidsilvam commented on #200
Same problem here. Someone solved?

[2017-05-29 14:19] MourIdri opened #211 "is it possible to add credentials files for bluemix ?"
Is it possible to have a credentials files like aws has ?
then I could import my Api key directly from my credentials on a service basis ? ( visu rec, speetch to text etc..)

[2017-05-29 15:23] kognate commented on #211
If you bind your service to your application,  the SDK will get the service credentials out of the vcap environment.

Or are you looking to do this with an Unbound service?

[2017-05-30 20:18] jsstylos commented on #211
Currently the only way to load a collection of credentials at once is by setting them to the `VCAP_SERVICES` environment variable, which happens automatically on Bluemix but can be done manually in other environments.

We've talked but not yet implemented a feature where you could load a credentials file directly with a command to the SDK, which would have the same effect as if you had set the env

[2017-05-30 20:33] jsstylos commented on #200
@davidsilvam I was never able to reproduce the original issue. Do you have a zip file that fails to process with the Python SDK but works with https://watson-api-explorer.mybluemix.net/apis/visual-recognition-v3#!/visual45recognition/post_v3_classify ? If so can you upload that file somewhere to test?

[2017-05-30 21:02] rclough opened #212 "Asynchronous STT support?"
Hello, I'm currently trying out the speech-to-text API, and was wondering if there is an implementation of the [asynchronous version of the API](https://www.ibm.com/watson/developercloud/speech-to-text/api/v1/?curl#async_methods) for the python client? It's definitely not documented in the examples, and perusing the SDK code by hand seems to suggest this is not yet implemented.

[2017-05-30 21:08] kognate commented on #212
The python sdk doesn't support that api endpoint right now (but we welcome PRs).

[2017-05-30 21:11] rclough commented on #212
Cheers, I'm going to move forward synchronously for now, but if I end up productionizing my project I'll probably have to add it; happy to submit a PR if that ends up being the case.

[2017-05-30 21:47] MourIdri commented on #211
@jsstylos : and after loading my credentials (mail + password ) to that file, a command in the sdk would do something like "
- "./get_watson_apis -show_visu_rec_api" => show my keys
-"./get_watson_apis -create_visu_rec" => create and return the newly created key.
The idea is to basically to manipulates the keys for a given watson service directly from the sdk based on my credentials.

[2017-05-31 06:15] chughts commented on #200
I don't think that this is Python specific, as this developerworks forum conversation ( https://developer.ibm.com/answers/questions/377690/error-400-when-trying-to-create-a-custom-classifie/ ) refers to a similar problem, but this time making use of both cURL and Node.js.

I think the problem is actually OS related, in particular the way the OS handles zip folders. I don't know which OS yet. So an

[2017-05-31 07:00] rushikesh988 opened #213 "UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 73: character maps to <undefined>"
Hello ,I am trying a document converter example given at [https://www.ibm.com/watson/developercloud/document-conversion/api/v1/#convert-document](https://www.ibm.com/watson/developercloud/document-conversion/api/v1/#convert-document).

It it throwing an error "UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 73: character maps to <undefined>"

I am using following code
[code]

[2017-05-31 07:01] rushikesh988 commented on #213
I am using Python 3.6 .

[2017-05-31 17:45] datjandra opened #214 "conversion error for attached json input"
Attached JSON file could be added from Discovery Tooling but not from Python SDK. No error is reported from Python code below but document upload failed according to Discovery Tooling.

[code]

Occurred during: Conversions
[code]
[USRE046396-20170502.json.txt](https://github.com/watson-developer-cloud/python-sdk/files/1042408/USRE046396-20170502.json.txt)

[2017-05-31 18:53] jsstylos commented on #200
@chughts The 35.zip file above exhibits the problem for the original poster, but I can't reproduce it. If we can get a reproducible source file then we should be able to address the problem.

[2017-05-31 20:11] rclough opened #215 "Python SDK using deprecated feature"
Library: Speech to Text

Noticed some warnings in our responses regarding the use of a parameter "continuous" that we did not explicitly set. When researching, I found [this reference](https://www.ibm.com/watson/developercloud/doc/speech-to-text/release-notes.html) in the release notes from last week (Titled May 22nd).

If it is advisable, I'd happily contribute a simple PR to remove it from the r

[2017-05-31 22:29] jsstylos commented on #215
Good catch @rclough, a pull request would be great.

[2017-06-01 09:12] chughts commented on #200
@jsstylos Just seen this response to my response to the question in developerworks answers -

[2017-06-01 14:08] jsstylos commented on #200
@chughts It would be good to figure out what types of zip files don't work with the service so that we can any problems at the service level. Do you know of any zip files that can reliably reproduce the problem?

[2017-06-01 14:38] chughts commented on #200
@jsstylos You won't like this. Create a folder (say for bulbs) and name it bulbs.zip then copy image files into it.

[2017-06-01 14:44] jsstylos commented on #200
@chughts Do you have a file like that that reliably fails?

[2017-06-01 15:57] data-henrik opened #216 "[Conversation] Allow workspace creation from single JSON object"
Right now create_workspace requires the individual parts to be passed in as parameters. When I load a JSON file it is much simpler to just pass in the entire object.

Use cases where workspaces are created:
https://github.com/data-henrik/watson-conversation-tool
https://github.com/data-henrik/bluemix-egobot

[2017-06-01 16:00] jeffpk62 opened #217 "Add support for JSON and HTML input for tone() method"
The tone() method of tone_analyzer_v3.py assumes that input will be a plain text string.  But the service also accepts JSON and HTML input.  Add a content_type parameter with a default of text/plain to preserve the current default functionality; also maintain the assignment of the plain text to JSON to preserve the current functionality.  But now allow application/json and text/html to be passed t

[2017-06-01 16:49] chughts commented on #200
Ones that give me a

 error

[2017-06-01 20:00] neilsbhargava commented on #200
Hi @jsstylos, another user checking in having the same issue. I have a zip file that I am trying to test against a trained visual recognition classifier and I am getting the following error:

`Traceback (most recent call last):
  File "daimlerVR.py", line 30, in <module>
    damaged_results = vr.classify(images_file=test_set, threshold=0.1, classifier_ids=['SimpleDamage_1258166596'])
  File "/User

[2017-06-01 20:05] jsstylos commented on #200
@neilsbhargava Can you upload a zip file for testing?

[2017-06-01 20:08] neilsbhargava commented on #200
@jsstylos - I can't upload the zip here due to NDA restrictions. I am an IBMer working in the Watson Org so if you are on Slack I can give you the zip privately (provided it is not shared with anyone outside of IBM).

[2017-06-01 20:26] jsstylos commented on #200
One issue here is that some zip files are returning 413 Request Entity Too Large errors (with an html content type :-/ ), even when they don't exceed the documented file size limits. This should go away in an upcoming release, but one thing to test in the meantime is what happens when attempting to classify via curl:

[code]

If anyone has a file that succeeds via curl but reliably fails via the P

[2017-06-02 15:21] hswick commented on #212
Asynchronous support would be really helpful. Could probably just switch out requests with aiohttp

[2017-06-03 03:25] germanattanasio commented on #216
@data-henrik can you write a PR ?

[2017-06-03 07:43] data-henrik commented on #216
Should be possible, after the vacation.

[2017-06-06 13:57] ZuluagaSD opened #220 "WatsonException: Error: This 8000hz audio input requires a narrow band model."
I'm trying to use the Speech-to-text API using a file that has a 256kbps bit rate (I don't know much about audio files)

![image](https://cloud.githubusercontent.com/assets/1851696/26832314/af884ef2-4a94-11e7-9a56-3fd90218135b.png)

And this is the error that I'm getting:
`WatsonException: Error: This 8000hz audio input requires a narrow band model.  See https://stream.watsonplatform.net/speech-to

[2017-06-06 15:20] kognate commented on #220
You'll need to downsample the audio file to match the model you want to use.  https://stackoverflow.com/questions/30619740/python-downsampling-wav-audio-file. Discussions on how to do that ilusing scipy

[2017-06-06 15:32] ZuluagaSD commented on #220
Hey kognate!
Thank you so much for your answer, I'm running the code suggested in that discussion but I'm not sure about the output parameter that I need.

[code]

[2017-06-07 03:58] KnHuq opened #221 "How to create dialogue node in watson conversation"
I don't see any option to create dialogue node through Python SDK. How can I create dialogue node in Watson conversation?

[2017-06-07 14:45] davidsilvam commented on #200
@jsstylos I tested the upload the same .zip in https://watson-api-explorer.mybluemix.net/apis/visual-recognition-v3#!/visual45recognition/post_v3_classify in Windows 10 and in Debian. The response in Debian was positive, while in Windows the return erro is  "description": "No images were specified.",  "error_id": "input_error"...

[2017-06-07 22:32] kstohr commented on #12
I can't speak for others but I am on python 3. Switched last year.
Just tested @kognate's version https://github.com/kognate/watson_speech_to_text_websockets
and it worked like a charm with watson-developer-cloud>=0.26.0,  Python 3.5.2, on OSX 10.11.6  Thank you! Saved me so much time. Encourage you to release.

[2017-06-08 08:20] chughts commented on #200
Could this be related to creating zips using npm archiver - RE this response on DeveloperWorks Answers?

[2017-06-08 15:40] FedericoSe opened #222 "Using languages different than English"
Hi, is there a way to set the Python API to recognize a language different than English?
I couldn't find any option/function in the references

[2017-06-08 21:31] kstohr commented on #12
I spoke too soon. The @kognate's solution fails on a longer .wav file. Sigh.

Added issue and some attempts I tried to fix to @kognate [gh repo](https://github.com/kognate/watson_speech_to_text_websockets/issues/1).
Any help getting this to work for larger files (10 min - ideally) would be hugely appreciated. I am a data person, no experience in web sockets.

In the meantime, fyi, I was able to ad

[2017-06-13 09:32] data-henrik commented on #222
How do you mean that? What service? I am using Watson Conversation and the API to have German chats.

[2017-06-13 09:38] data-henrik commented on #216
I looked into it and I will close my request.

* The Conversation API itself requires the individual parts.
* Having a similar Python API hence is ok.
* It requires some more processing for the API user, but it has the benefit of checking all required data is really present.
* Having a single API function only outweighs the gained comfort of above request.

[2017-06-13 09:38] #216 closed

[2017-06-15 07:32] kstohr commented on #12
Not sure if this is relevant... although I was able to adapt @daniel-bolanos's solution ([see gist](https://gist.github.com/kstohr/a1dee0e88e8587576e03804194c7f7df)), if an exception or an error is raised from a function within the websocket class it can fail silently if the active threads are not properly shutdown.  I think it has something to do with [setting .daemon to true to exit ].(https://s

[2017-06-15 13:27] jeffpk62 commented on #217
Done.

[2017-06-15 15:19] germanattanasio commented on #12
@kstohr It seems like you are using the work from @kognate. D you think you can continue that work and maybe create a PR? I'm ok with supporting only Python 3 for now.

[2017-06-15 19:15] kstohr commented on #12
@germanattanasio Actually, I ended up updating @daniel-bolanos solution and am using that as Autobahn seems stable other than the outstanding threading issue.  It was also easier to adapt his solution for different use-cases, params, requirements. Happy to finish the work on @daniel-bolanos solution and create a PR if that is of interest.

If I have time, I can take another look at @kognate's solu

[2017-06-15 19:33] germanattanasio commented on #12
Let's use @daniel-bolanos work then.

[2017-06-15 20:19] kstohr commented on #12
Ok. Do you want the CLI version or the function call?
On Thu, Jun 15, 2017 at 12:33 PM German Attanasio <notifications@github.com>
wrote:

--
Sent from a cloud, with a chance of typos.

[2017-06-15 20:54] germanattanasio commented on #12
We want the `SpeechToTextV1` class to be updated with the support for WebSockets. The pull from @kognate was trying to do that.

[2017-06-15 20:57] kstohr commented on #12
Ok.
On Thu, Jun 15, 2017 at 1:55 PM German Attanasio <notifications@github.com>
wrote:

--
Sent from a cloud, with a chance of typos.

[2017-06-15 21:07] daniel-bolanos commented on #12
thanks @kstohr for working on this, I hear that Watson STT + python + websockets is in very high demand these days. Good stuff.

[2017-06-19 18:52] chughts commented on #200
Attaching 2 zip files that fail - 2 x Positive Images.
[fix.zip](https://github.com/watson-developer-cloud/python-sdk/files/1086010/fix.zip)
[swap.zip](https://github.com/watson-developer-cloud/python-sdk/files/1086011/swap.zip)

[2017-06-19 23:09] kstohr commented on #12
Status update: Ok, got it to deal with keyboard interrupt and report back
watson errors more gracefully. Need to refactor it (I'd made some changes
for my app) to have it play nice with the SDK and will push. Coming soon...

@danielbolanos... very good stuff!

On Thu, Jun 15, 2017 at 2:07 PM, Daniel Bolanos <notifications@github.com>
wrote:

--
Kas Stohr
+1 646 554 7671 <(646)%20554-7671>

[2017-06-22 22:24] andrew21c opened #224 "unsupported text language error for natural language understanding api."
I got following error when using natural language understanding api for this url: https://www.wired.com/story/voter-data-breach-impact

"watson_developer_cloud.watson_developer_cloud_service.WatsonException: Error: unsupported text language, Code: 400"

if I force language to be english, the returned text is garbage ascii symbols.
I tried some other links, most time the analyzed texts are correct.

[2017-06-26 16:57] createsh opened #225 "ERROR on installing watson developer cloud"
When I try
`pip install --upgrade watson-developer-cloud`
i get permission denied, so i tried
`sudo pip install --upgrade watson-developer-cloud`
then i get

You are using pip version 8.1.1, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

I updated pip and setuptools to the newest version, but still doesn't work.
Any clue?

[2017-06-26 20:28] blacknred0 commented on #225
You first need to run `sudo pip install --upgrade pip` , then you can do `sudo pip install watson-developer-cloud` if this is your first time installing Watson Developer Cloud.

[2017-06-26 20:58] createsh commented on #225
@blacknred0  I tried  `sudo pip install --upgrade pip`  but nothing changed

[2017-06-27 12:51] blacknred0 commented on #225
@createsh and then you tried `sudo pip install watson-developer-cloud`?

[2017-06-28 04:53] kstohr commented on #12
Y'all. I pushed the python 3.5 version of @daniel-bolanos code with 'enhancements' for speaker_labels, etc. I'll be traveling for a few weeks, but feedback welcomed.

[2017-06-29 02:10] entheos37 opened #227 "Delete Counter Example Error: Resource not found, Code: 404"
I want to delete the counter example, but I got this error message.

```watson_developer_cloud.watson_developer_cloud_service.WatsonException: Error: Resource not found, Code: 404```

[code]
[code]
--> This does work well. I can list the counter examples.

How can I delete the counter example?

[2017-06-29 07:13] ckuzma opened #228 "Rate Limit Error Handling for Conversation"
When rate limited by Conversation, the error thrown by the SDK is vague:
[code]

cURL reveals the actual service response to be this (as plain text):
[code]

Would be nice if the SDK gave a more meaningful error message, or if the service itself returned a response that matched the error formatting used by some of the other events, such as maximum workspaces exceeded:
[code]

[2017-06-29 14:53] iamharshit opened #229 "where is Watson's training dataset"
Is the dataset on which Ibm watson(for emotional analysis) is trained on available online ?

Sorry, if this isn't the right place, can you direct me the correct person or team?

[2017-07-03 13:19] germanattanasio commented on #229
The training data for emotional analysis is not public.

[2017-07-03 13:19] #229 closed

[2017-07-03 13:59] iamharshit commented on #229
Thanks for replying, just a last query

Is the sentiment analysis dataset public?

[2017-07-03 22:01] ezfranca opened #230 "UnicodeDecodeError: 'utf-8' codec can't decode byte xxx in position xxx: invalid start byte"
Hi, guys!
I have an app that worked fine on python 2.7.

I needed to upgrade to python 3.4 and the speech to text stopped to work.
Yes, I ported to my code to python 3 and everything but speech to text works fine.
I am using pt-br language.

I waited until the release of 0.26.2 because it not worked on 0.25 and seem to still not work on new version. Can you help me ? Am I stuck with python 2.7 ?

[2017-07-04 00:39] andrew21c commented on #224
It seems working now. Not sure what happened.

[2017-07-04 00:39] #224 closed

[2017-07-05 15:02] 5agado commented on #200
Any updates regarding the issue? I am encountering the same problem. Single zip file with single image using Python 3.4 on Windows 7.

[2017-07-05 15:28] germanattanasio commented on #229
No @iamharshit it's not

[2017-07-05 15:28] germanattanasio commented on #12
@kstohr I have a lot of work on my plate but I will try to look at the PR this week. Sorry for the delay

[2017-07-06 02:38] germanattanasio commented on #200
When sending the requests are you sending `application/octet-stream` as `Content-Type`? because the service is expecting that along with the zip file.

[2017-07-06 04:29] kstohr commented on #12
No problem.  I am on vacation. So apologies for any future delayed response
on my end...
Also, just to be clear, I adapted it for python 3.5. But didn't have a
chance to back port it to 2.7. Although that change should be relatively
easy and it should support multiple versions. (That's the advantage of
using Autobahn with Twisted. Double check, but I think Asyncio only became
standard in vers. 3.4

[2017-07-06 15:01] jasonfox commented on #199
I came across a new site for which Watson gives me the same error `Attempt to fetch failed: :closed`  However, the site appears to be valid, i.e., if you pass the HTML through the W3C validator it comes out [mostly fine](https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.knox.edu%2Fnews%2Fknox-college-elects-new-trustees) and robots.txt doesn't appear to preclude crawlers like the previous example

[2017-07-08 05:16] Dkilpatrick31 commented on #225
I'm having the same issues as well. I followed your instructions blacknred0 and I'm now getting this error.
OSError: [Errno 1] Operation not permitted: '/tmp/pip-sGIL81-uninstall/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/six-1.4.1-py2.7.egg-info'

[2017-07-08 13:38] germanattanasio commented on #225
are you getting the same issue when you try to install other dependencies?

[2017-07-09 11:35] OndrejSzekely commented on #200
I have the same problem. It is working fine on Mac OS - zip folder, and score ...On windows error from watson service - no image inside folder. Could you please fix it?

[2017-07-10 17:04] DennisEgan commented on #225
With the latest version of pip and setuptools I get the following error:
UserWarning: Disabling all use of wheels due to the use of --build-options / --global-options / --install-options.
  cmdoptions.check_install_build_global(options)
Command "/usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-Le8PaP/cffi/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read(

[2017-07-10 17:09] DennisEgan commented on #225
Using the latest version of pip and setuptools I get this error when trying to install the module:
[code]

[2017-07-14 13:05] blacknred0 commented on #225
@Dkilpatrick31 Apparently it seems an issue with a package called six v1.4.1.  Here is a bug that might have resurface where one of the packages attempts to uninstall it, but it doesn't have the proper permission to do so.  Here is more info if you would like -> [Six issue when installing package #3165](https://github.com/pypa/pip/issues/3165).

I just tested the install and went successfully with

[2017-07-17 14:37] jsstylos commented on #222
The way to use non-English input or output depends on the service or method.

[2017-07-17 14:37] #222 closed

[2017-07-17 14:44] jsstylos commented on #215
035dac5214931ec90b6806ee9423c5035efc026c changes the default to `None` which will prevent it from getting passed by default. I haven't moved it out of the method so as not to break any current users by causing the parameters to be reordered, but not passing the parameter unless it's explicitly set should solve the majority of the problem.

[2017-07-17 14:44] #215 closed

[2017-07-17 15:05] jsstylos commented on #228
Thanks for bringing this to our attention. This should be fixed in an upcoming service update.

[2017-07-18 20:02] jsstylos commented on #225
@createsh Did the advice from @blacknred0 solve your problem?

[2017-07-18 20:03] #217 closed

[2017-07-18 20:05] jsstylos commented on #221
There is not yet a supported API for Dialog nodes, but this is coming soon.

[2017-07-19 06:09] jhoelzl commented on #221
You can create a small dialogue through the Web interface, then download the JSON file of the workspace and try to understand the JSON structure. Based on this, you could create any dialogue, intent and entity you want.

[2017-07-25 07:15] eightBEC opened #237 "Unable to classify zip using Visual Recognition - Invalid JSON error"
I'm trying to classify the zip file appended using the following piece of code:
[pflug_positive_examples.zip](https://github.com/watson-developer-cloud/python-sdk/files/1172270/pflug_positive_examples.zip)

[code]
I'm getting the following error when running the code:
[code]

Using the API explorer or curl to classify the file is working perfectly.
Is this issue maybe related to issue #200 ?

[2017-07-25 16:04] ehdsouza commented on #227
Hi,
Make sure you have added the correct workspace_id before running the code. It worked for me, so marking the issue closed.

Feel free to reopen in case the problem still exists.

[2017-07-25 16:04] #227 closed

[2017-07-25 20:14] ehdsouza commented on #214
Hi,

Looks like the the syntax you are using is incorrect. Use the following which works:

[code]

[2017-07-28 14:47] #200 closed

[2017-07-28 14:47] #237 closed

[2017-07-28 15:02] germanattanasio commented on #211
You can't manipulate the credentials from the SDK. You need to do it from Bluemix which is where you get the credentials.

[2017-07-28 15:12] germanattanasio commented on #225
@ehdsouza can you try to reproduce this? If you can, write a PR to update the README with the proposed fix and a link to this issue

[2017-07-28 15:18] germanattanasio commented on #214
I'm closing this since it's not an bug

[2017-07-28 15:18] #214 closed

[2017-07-28 15:20] germanattanasio commented on #199
@jasonfox I think this is not an issue in the SDK. The service seems to be failing to fetch the URL.

[2017-07-28 16:51] #225 closed

[2017-07-28 17:22] jasonfox commented on #199
Yes, I agree. As a work-around, we're currently fetching the URLs ourselves and then passing the HTML to Watson. However, since you work at IBM on the Watson team, could you or someone else provide some insight as to why Watson is unable to fetch this URL?

[2017-07-28 17:28] germanattanasio commented on #199
Yes, I can do that

[2017-07-28 17:28] germanattanasio commented on #199
@g-may do you know someone on the NLU team?

[2017-07-28 20:06] ehdsouza commented on #202
Does the issue exist? I cant seem to reproduce it, here is the code snippet that worked:
[code]
And here is the response:
[code]
Closing the issue. Feel free to open it if the problem still exists.

[2017-07-28 20:07] #202 closed

[2017-07-28 20:11] ehdsouza commented on #230
@ezfranca can you paste the code which caused the issue. It would be very helpful to look into this issue.

[2017-07-31 21:30] #228 closed

[2017-07-31 21:39] germanattanasio commented on #213
@rushikesh988 do you have the document handy?

[2017-08-01 08:15] rushikesh988 commented on #213
Thanks for reply . Here is that document.

[samplePDF.pdf](https://github.com/watson-developer-cloud/python-sdk/files/1189918/samplePDF.pdf)

[2017-08-01 08:55] itsdeepakrai opened #244 "Document Conversion API not working in Windows 10 environment for word to html, Text to HTML etc"
The command works fine in MAC and linux , but its not working in a Windows environment .

[2017-08-01 15:43] germanattanasio commented on #244
Which command? can you provide some steps to reproduce the issue?

[2017-08-01 16:06] pmbaumgartner opened #245 "Creating a Job"
I'm getting the same issue as #204 when I attempt to create a job, resulting in `ConnectionError: ('Connection aborted.', OSError("(32, 'EPIPE')",))
`. My file is an mp3 under 100 MB.

Here's the code in raw python (without the SDK).
[code]

I also tried by subclassing SpeechToTextV1 and modifying its `recognize` method to just change the url to `/v1/recognitions`, with the same effect. I also tri

[2017-08-01 17:22] ehdsouza commented on #244
Steps to reproduce the issue would be very helpful. I just ran the test for document conversion on Windows and it worked.
[code]

[2017-08-01 17:48] ehdsouza commented on #245
Hi,

Could you enable logging for requests and paste the output here.
import requests
import logging
logging.basicConfig(level=logging.DEBUG)

[2017-08-01 18:59] jsstylos commented on #245
Hi @pmbaumgartner,

As you've probably noticed the Python SDK doesn't currently support asynchronous recognition jobs. Have you tried the file with the synchronous `speech_to_text.recognize()` and does that also give a connection error?

[2017-08-03 07:09] itsdeepakrai commented on #244
import json

from watson_developer_cloud import DocumentConversionV1

document_conversion = DocumentConversionV1(

username='f73212bb-1b2b-4b05-b218-f1b86e8ed289',

password='TBJKCdRLHQ6C',

version='2015-12-15'

)

config = {'conversion_target': DocumentConversionV1.NORMALIZED_TEXT}

with open(('C:/Users/Dell/Desktop/Sample.pdf'),encoding='latin-1') as document:

response = (document_conversion.c

[2017-08-03 15:15] ehdsouza commented on #244
Hi,

Could you read the file as a binary file which should work.
[code]

[2017-08-03 16:29] germanattanasio commented on #244
The problem is that you are reading the file as a text file and it's a pdf. @ehdsouza's code snippet should fix the problem

[2017-08-03 16:29] #244 closed

[2017-08-04 22:45] vkg70 opened #247 "TypeError: analyze() got multiple values for keyword argument 'features'"
response = natural_language_understanding.analyze(text_to_process, features=[Features.Entities()])

TypeError: analyze() got multiple values for keyword argument 'features'

How should the analyze function be invoked with the dict parameter. Tried many combinations none of them work even with the example code.

[2017-08-05 01:23] jsstylos commented on #247
The `features` parameter is the first in the list, so you need `text=text_to_process`

[2017-08-05 04:19] vkg70 commented on #247
Thanks

[2017-08-05 10:12] #247 closed

[2017-08-07 14:20] ehdsouza commented on #213
Hi,

Read the file as a binary file and it should work.

[code]

[2017-08-07 14:24] ehdsouza commented on #245
Closing this due to no response @pmbaumgartner

[2017-08-07 14:24] #245 closed

[2017-08-07 14:28] germanattanasio commented on #212
@hswick the problem with `aiohttp` is that it works with Python >= 3.4.  `requests` works with Python >= 2.7 .

[2017-08-07 16:53] #213 closed

[2017-08-07 18:52] ehdsouza commented on #220
Hey,

You would need to specify the sampling rates for your audio correctly. For more info have a look here: https://www.ibm.com/watson/developercloud/doc/speech-to-text/input.html#formats

Marking the issue closed, feel free to open if need be.

[2017-08-07 18:52] #220 closed

[2017-08-07 19:22] shribe commented on #199
`Attempt to fetch failed: :closed` means the connection to the server dropped before the response was received.

[2017-08-07 23:33] kstohr commented on #12
@germanattanasio just checking in to see the status of the PR.

[2017-08-07 23:44] markstur commented on #211
Loading VCAP_SERVICES from a file as mentioned above would be nice. Basically, I often want to export them (as JSON) and it is not easy to turn that into an env for local testing. But to slurp that json in from a file would be handy.

[2017-08-08 17:46] germanattanasio commented on #12
@ehdsouza was looking at this Yesterday @kstohr. I will follow up with her

[2017-08-08 17:48] germanattanasio commented on #199
@shribe I'm going to leave this open until we fix it in the service

[2017-08-09 19:17] kstohr commented on #12
@germanattanasio @ehdsouza shout if you need help back-porting or have any q's.

[2017-08-10 16:29] TimKanake opened #249 "Not getting a response back from an example tutorial"
I am new to using the Watson service and am facing some inconsistencies while testing it out. Yesterday I ran the speech_to_text_v1.py file from the examples folder using my credintials and got a response back. However, I have been trying to do it today and I don't seem to be getting a response back. I am running the .py file from the command prompt and it seems to hang once it gets to opening the

[2017-08-11 11:59] soundaryalaharik opened #251 "calling watson developer cloud in jupyter notebook"
I have executed the pip install command in the anaconda folder and it was successful. Still when i open a jupyter notebook and import watson_developer_cloud it gives the below error:

ModuleNotFoundError: No module named 'watson_developer_cloud'

[2017-08-11 13:45] ehdsouza commented on #249
Hi,

I just ran the  speech_to_text_v1.py file and it works well. Make sure your environment is set correctly for example proper internet connection.

[2017-08-11 14:04] ehdsouza commented on #251
I don't think this is a problem with the sdk as you were able to successfully install it with pip. Maybe some problem with your environment?

[2017-08-15 12:45] ses1430 commented on #251
Check whether you install another python.

[2017-08-15 16:28] blacknred0 commented on #251
@soundaryalaharik I would check that when you are opening jupyter you are calling the right kernel with watson_developer_cloud

[2017-08-15 16:33] blacknred0 commented on #249
@TimKanake are you paying for BlueMix service? I think this one has 30 days trial.  Make sure that yours hasn't expired.

[2017-08-15 16:35] TimKanake commented on #249
@blacknred0 I started paying for the account so that wasn't the problem. I figured it out though. Thank you. @ehdsouza Thank you for the tip. I had a small bug but now it seem to be working fine.

[2017-08-15 16:35] #249 closed

[2017-08-17 18:27] sheikhfaisalanwar opened #252 "Remove deprecated argument 'continuous' from speech_to_text_v1.recognize"
https://console.bluemix.net/docs/services/speech-to-text/release-notes.html#relnotes

Continuous argument is longer supported. Remove it so we don't get:
` "warnings": [
  "Unknown arguments: continuous."
]`

[2017-08-17 18:45] jsstylos commented on #252
This was changed in 035dac5214931ec90b6806ee9423c5035efc026c and will be fixed in the next release. To prevent being a breaking change the `continuous` argument still exists, but has a default value of `None` so that it doesn't generate this warning.

[2017-08-17 18:45] #252 closed

[2017-08-20 01:00] belgort-clark opened #253 "Speaker Labels in Python"
Are speaker labels currently supported in Python? I tried using features.Speakers() with no luck.

[2017-08-21 19:23] ehdsouza commented on #253
Hi @belgort-clark,

Could you provide code for what you are trying to do?

There is a speaker_labels parameter in recognize(), if thats what you are looking out for?

[2017-08-21 19:29] belgort-clark commented on #253
Erika, I just figured out what I was doing wrong. Dumb mistake on my part. Thank you for the reply. This can be closed.

[2017-08-21 19:29] #253 closed

[2017-08-22 19:32] ry0ohki opened #254 "The Python Watson SDK attempts its own media type detection when the user provides a file, and it should not"
If a user provides a file, but doesn't specify the media type, when adding a document to Discovery using the Python Watson SDK, then Python attempts to auto-detect the media type. However, Discovery itself is capable of determining the media type, and arguably, it has a robust algorithm to do so. As such, the Python SDK should not attempt to do this on its own. Instead, it should default the media

[2017-08-22 19:56] jsstylos commented on #254
Good idea, should be fixed in b0904e723e220d38dda62b173ebb7bb771212ffb

[2017-08-22 19:56] #254 closed

[2017-08-23 11:27] immanuvelv commented on #163
@belgort I am facing exactly the same issue. i.e. when i run the below code in Spyder, i am getting the error as "ModuleNotFoundError: No module named 'watson_developer_cloud'". i used pip install as well as pip upgrade.
code: from watson_developer_cloud import NaturalLanguageUnderstandingV1.

Here is the twist, If i use the above code in IDLE it runs well. However, i run into wrong credential iss

[2017-08-25 17:06] ptitzler opened #255 "Sample notebook natural_language_understanding_v1.ipynb throws NameError"
The sample notebook https://github.com/watson-developer-cloud/python-sdk/blob/master/examples/natural_language_understanding_v1.ipynb
throws an exception:
[code]
 `Features` vs `features`:
[code]

[2017-08-28 14:03] ehdsouza commented on #251
I'm closing this as it's not a problem with the SDK

[2017-08-28 14:03] #251 closed

[2017-08-28 20:56] #255 closed

[2017-08-29 18:04] daniel-bolanos opened #257 "this benchmark shows very slow response time for the STT service using the python SDK."
benchmark: https://blog.recast.ai/benchmarking-speech-recognition-api/

Can you guys please take a look at response times? I wonder if there is an issue in the SDK since I have been able to talk to STT from python with very good response times (https://github.com/watson-developer-cloud/speech-to-text-websockets-python)

thanks

[2017-08-30 13:33] germanattanasio commented on #257
The only difference between your repository and this SDK is that your repository uses WebSocket. We use the requests library and send the audio to the service directly.

[2017-08-30 13:33] #257 closed

[2017-08-30 20:12] maniax89 opened #258 "[discovery] create_collection and test_document retrieves wrong default configuration"
## Description

The `POST /collections` endpoint allows you to specify some parameters in the body:

https://watson-api-explorer.mybluemix.net/apis/discovery-v1#!/Collections/createCollection

[code]

All elements are `optional` (only one that should be updated to `required` I believe is `name`). If you do not specify a `configuration_id`, the service uses the default configuration. However, in th

[2017-08-31 12:15] oszekely opened #259 "Visual Recognition - often fails, sometime pass"
Hello, we have a problem with Visual Recognition Python API - we have a working python scripts, but from Friday there are lot exceptions thrown by Python API ... regarding the fact that we did not updated python sdk, we use the same from June, the problem has to be on Bluemix VR service. Do you anything which could help us?

[2017-08-31 12:48] #259 closed

[2017-08-31 18:39] jsstylos commented on #258
Good idea, should be fixed in 13f4f5312ed752d7a52533f871c5ebed83e5ab9a

[2017-08-31 18:39] #258 closed

[2017-09-03 01:00] DuyTrandeLion opened #260 "Segmentaion fault"
Hello,

After I tried "pip install --upgrade watson-developer-cloud" but at the end it said segmentation fault. Anyone know how to fix it? Thank you very much.

There are the final lines:
  Using cached enum34-1.1.6-py2-none-any.whl
Collecting pycparser (from cffi>=1.7->cryptography>=1.9->pyOpenSSL>=16.2.0->watson-developer-cloud)
Installing collected packages: six, asn1crypto, ipaddress, pycparse

[2017-09-05 14:13] ehdsouza commented on #260
Hi,

Segmentation fault would be because of your environment issue. You could try updating the ulimit:
ulimit -s <new_val>

To check your previous value:
ulimit -s

[2017-09-06 11:13] DuyTrandeLion commented on #260
Thank you for your reply. I tried to update the new ulimit but the same mistake still occurred. I even tried to update the new python but it also failed.

[2017-09-06 22:09] vikitripathi commented on #202
@ehdsouza the issue is sorted. Thanks

[2017-09-15 02:38] tarynnchen opened #263 "Issues getting API calls back"
Hi all,

I have been having issues with getting feedback from API.
Here is the error message I am receiving.
[code]
[code]

The python code i have is here:
[code]
I have tried upload the same WAV file to the demo site and it works fine (https://speech-to-text-demo.mybluemix.net/)

My credentials are also fine on a co-worker's laptop.

Also tried python 2.7 and 3.5, with no luck.

[2017-09-15 03:33] tarynnchen commented on #263
The file is also <100MB

[2017-09-15 15:00] ehdsouza commented on #263
Hi,

Which is the python code you are using? You have given two different snippets.

Have a look at the examples folder: https://github.com/watson-developer-cloud/python-sdk/blob/master/examples/speech_to_text_v1.py and run it to ensure it isnt an environment problem

[2017-09-15 15:12] tarynnchen commented on #263
Yea, it is environment. Now it's fixed, thanks!!

[2017-09-15 15:12] #263 closed

[2017-09-18 05:57] sandlis opened #264 "Jumps missing while updating workspaces"
I tried updating workspaces using 'update_workspace' function.
Workspace got updated but jumps were missing.
Is there any way to fix this?

[2017-09-18 14:06] ehdsouza commented on #264
Hi,

Could you give a code snippet? The sdk is not doing anything with the workspace, it only wraps the API call.

[2017-09-18 14:55] sandlis commented on #264
Actually I am using https://github.com/data-henrik/watson-conversation-tool for making request.
I checked code of that tool as well as your sdk, I didn't see any data processing.
I am not sure if this is the write place to bring this up. I would be grateful If someone can help in fixing this or point me into right direction.

[2017-09-18 15:50] germanattanasio commented on #264
This is not an issue in the SDK. I talked to the Conversation team and they will look into this. No ETA.

[2017-09-26 20:33] ans10 commented on #264
One reason that jumps might not be there is the version of the conversation api that is being used. I faced the similar error and updating the error to the latest version solved the problem.

[2017-09-27 02:59] rosine commented on #200
Hello, could anyone solve the problem?
I still get the problem even when using a zip file containing just one image. I am using windows 10.

[2017-10-04 14:44] px350 commented on #199
I'm experiencing the exact same problem as jasonfox (Attempt to fetch failed: :closed). Everything's fine with robots.txt. No user-agent or page/directory are blocked and, just to be sure, I even added permissions to the one supposedly used by Watson (watson-url-fetcher). When you speak of "fixing the service", what are you actually referring to?

[2017-10-08 17:01] px350 commented on #199
To be ignored is quite unpleasant. Unless this supposed "fix it in the service" was too challenging!?!

[2017-10-08 17:22] germanattanasio commented on #199
@px350 This is not an issue for this repository but a problem with the service. I opened a ticket with Bluemix support but I don't know when it will get fixed. I'll post an update here once they close my support ticket.

You should also open a [ticket](https://support.ng.bluemix.net/supportticket/?app=technicalsupport&index=13) maybe that helps

[2017-10-11 15:35] rebecca-makar opened #277 "Querying Multiple Collections"
I am running into an issue which involves the new feature of querying multiple collections at once. I have a work around that can be added, adding a new method query_multiple_collections, that will have the correct url.

[2017-10-11 15:55] ehdsouza commented on #277
Could you be precise? Like what service, code, etc?

[2017-10-11 19:59] rebecca-makar commented on #277
In Discovery_V1.py - I created a PR https://github.com/watson-developer-cloud/python-sdk/pull/278

[2017-10-12 17:14] ehdsouza commented on #277
Hi @rebecca-makar,

This is already being addressed in #276 as part of the new SDK release. It is named federated_query. Thanks for the effort.

[2017-10-12 17:14] #277 closed

[2017-10-16 13:51] germanattanasio opened #279 "Exceptions don't have enough information for users"
As a Developer _I want_ to have `code`, `message`, `description` whenever a Watson service raises an exception _so that_ I can write code that reacts different depending on the exception.

# Context
It seems like the Python exceptions this SDK is throwing are not very useful for developers:

More info:
 * https://stackoverflow.com/questions/256222/which-exception-should-i-raise-on-bad-illegal-argu

[2017-10-16 14:09] mkistler commented on #279
Even more info: The [Google Python Coding Guidelines](https://google.github.io/styleguide/pyguide.html?showone=Exceptions#Exceptions) state:

It's not clear if this means _all_ exceptions raised by the package/module should use this special exception class, or only those that don't fit an existing standard exception.

AND ... another data point ... the Python client generated by the (open-source)

[2017-10-19 13:39] renatojen opened #281 "Is there a way to use 'include_event' as a filter in Conversation's list_logs function?"
Hello,

I tried creating a filter similar to this:
[code]

But I get the following error:
[code]
I noticed other query params like 'sort' or 'page_filter' are specific params in the list_logs function.

[2017-10-24 20:00] ehdsouza commented on #281
Could you give a code snippet which would be easier to understand.
Also, we are coming up with a new release https://github.com/watson-developer-cloud/python-sdk/pull/276

[2017-10-24 20:18] #264 closed

[2017-11-02 13:51] mkistler commented on #279
To do this properly, I think we will need to extend `WatsonException` to support the additional information we want to return.

https://stackoverflow.com/questions/1319615/proper-way-to-declare-custom-exceptions-in-modern-python

[2017-11-02 18:30] drarvindsathi opened #291 "Python SDK does not work in 3.6"
The Python Discovery SDK for add_doc is not working in Python 3.6.  Please see sdk slack for details and connect with Tibor.

[2017-11-03 16:42] oszekely opened #292 "Visual recognition service - error during listing custom classifiers"
I am facing a problem with visual recognition service Python API. I had a discussion with Matthew Hill (Watson Visual Recognition service developer) and sometimes null value appears in custom classifiers list. It raises an error in Python call
[code]

[2017-11-03 17:43] mkistler commented on #291
Please provide details on the environment and the specific request and data to recreate the problem.  Or create an issue in the internal Dev Experience repo and provide details there.

Without clear information on what the problem is and how to recreate it, we cannot make any progress to address it.

[2017-11-03 20:07] germanattanasio commented on #292
@oszekely can you provide the code snippet (without apikey) that you are trying to use.

[2017-11-03 21:00] oszekely commented on #292
I can not send you error message now, because Matt removed the problematic classifier. Error comes from WDC SDK, not mine code. Problem is in list_classifiers() method of VisualRecognitionV3 instance. list_classifiers(verbose=True) throws error, list_classifiers(verbose=False) not. I suppose that problem is that in verbose=True JSON parser tries parse the null item, but it does not work. Thrown er

[2017-11-04 16:37] mkistler opened #295 "Test fails with error: encoding declaration in Unicode string (<string>, line 0)"
Travis CI tests for Python 2.7 fails with
[code]

[2017-11-06 02:39] mkistler commented on #291
Issue resolved by the submitter.

[2017-11-06 02:39] #291 closed

[2017-11-07 16:13] germanattanasio opened #298 "Fix the issues when running pylint on the test folder"
Run:
[code]

Output:
[code]

[2017-11-07 23:19] DarBeck opened #301 "Can I connect to Watson Conversation using websockets?"
I am searching through the API docs for Watson Conversation but I am not seeing anything relating to WebSockets. If this is possible can I be directed to the documentation or at least, the wss uri.

[2017-11-08 00:22] pthoresen opened #302 "Discovery: add_document method not sending content"
I'm running Anaconda 3.6. I used `pip` to install the latest version of the Python SDK.

I'm seeing a problem when ingesting files. Per the documentation, I'd expect this to ingest the pdf document.

[code]
When I do this, a new document is created in discovery, but no content is sent.

Just to make sure that I'm not going crazy, I sent the request directly using the `requests` library

[code]

Th

[2017-11-08 00:43] DarBeck commented on #212
I created a STT using WebSocket connection. Its not in a class as yet but you will get the idea. Her is the git:
https://github.com/DarBeck/realtime_stt_watson/blob/master/real_time_transcript.py

[2017-11-08 14:41] ehdsouza commented on #298
[code]

[2017-11-08 14:41] #298 closed

[2017-11-08 14:43] ehdsouza commented on #301
Sorry, we don't support websockets with conversation.

[2017-11-08 14:43] #301 closed

[2017-11-08 16:02] germanattanasio commented on #302
Can you try with the code in the `v1.0.0` We are about to release a major version that will fix this issue

[2017-11-09 17:49] pthoresen commented on #302
Thanks, I'll try it with that version!

[2017-11-11 19:11] Eibriel opened #304 "Conversation - Error on .delete_example when example is "#""
When deleting an intent example with text "#" the following error raises:

`DEBUG:urllib3.connectionpool:https://gateway.watsonplatform.net:443 "DELETE /conversation/api/v1/workspaces/00e477c9-790b-47e7-ee11-48fcx1c22496c/intents/what_is_conversational_experience/examples/?version=2017-05-26 HTTP/1.1" 404 None`

Python 3.5.2 on Linux
watson-developer-cloud==0.26.1

[2017-11-12 16:38] germanattanasio commented on #304
@Eibriel can you encode the example parameter before you send it?

[2017-11-15 15:23] ehdsouza commented on #302
We released the new version 1.0.0 on 11/13. Let us know if the issue exists

[2017-11-15 15:24] #295 closed

[2017-11-15 15:27] ehdsouza commented on #292
@oszekely, could you try if the problem exists with the new version(1.0.0) released?

[2017-11-15 15:29] ehdsouza commented on #281
Hi,
@renatojen , could you try if the problem exists with the new version(1.0.0) released?

[2017-11-15 16:04] #279 closed

[2017-11-15 16:06] ehdsouza commented on #260
This is an environment issue, hence closing.

[2017-11-15 16:06] #260 closed

[2017-11-15 16:18] ehdsouza commented on #199
Closing the issue as the problem is not with the sdk and issues to services can be opened at [ticket](https://watson.service-now.com/wcp)

[2017-11-15 16:18] #199 closed

[2017-11-15 16:24] #94 closed

[2017-11-15 16:31] germanattanasio commented on #304
This was fixed in v1.0.0

[2017-11-15 16:31] #304 closed

[2017-11-15 16:31] germanattanasio commented on #302
This was fixed in v1.0.0

[2017-11-15 16:31] #302 closed

[2017-11-23 18:07] amaresh-rajasekharan opened #306 "Support for multi-part audio, and customization_weight parameters in the Python SDK for STT"
Hi,
Unless I am missing something, I don't see how to use the STT python libraries to process multipart audio files (cURL command lets you do this)...
Also, is there a way to pass content headers, and the parameter customization_weight etc to the recognize call using the Python SDK?

[2017-11-24 20:12] stevemart opened #307 "is create_classifier for NLC broken?"
I'm following the API docs at [1] to create an NLC classifier

[code]

Which is out of date given the current method name and signature is:

[code]

Anyway, I'm calling it this way:

[code]

And I end up with a stack trace:

[code]

Looking at the source code, I'm a bit confused since it's asking for the metadata as a JSON and then the metadata filename (which there isn't one).

[code]

To make ma

[2017-11-24 23:08] ammardodin commented on #307
@stevemart I think the error you're seeing is because the `requests` module thinks the object you passed in is an open file. I think since `metadata` is a file according to the doc, you probably want to do something like this:
[code]

[2017-11-25 00:08] ammardodin commented on #292
@ehdsouza `verbose` is no longer an option in the `list_classifiers` method in the latest release. I, however, tried manually using it since the service still supports it, and I failed to reproduce the issue. The `json` module can handle any `None` values in the returned dictionary from the service, and when calling `json.dumps`, the `json` module converts those values to `null` in the output stri

[2017-11-25 00:08] #292 closed

[2017-11-25 05:08] stevemart commented on #307
@ammardodin thanks for the quick reply, running into a different issue now. FWIW i tried what you suggested before filing the initial issue :)

Calling it with:
[code]

Generates:
[code]

[2017-11-25 13:52] mkistler commented on #307
@stevemart I have reproduced the behavior you report and I see where the problem is.  Thanks for reporting.

[2017-11-25 16:12] #307 closed

[2017-11-25 18:36] ammardodin commented on #306
@amaresh-rajasekharan the `recognize()` method in the latest release accepts a `content_type` parameter. As for `customization_weight`, that seems to be missing and I will work on adding that. Thanks for bringing it to our attention!

[2017-11-26 02:01] stevemart commented on #307
@mkistler thanks for the fix. I can test this out locally, but it looks correct to me. I was about to resort to using `requests` with a change that lines up with what you merged:

[code]

What is the timeline for releases? Anyway a 1.0.1 can happen soon?

[2017-11-27 00:12] #306 closed

[2017-11-27 00:47] ammardodin commented on #281
@renatojen My understanding is that in your case, you are filtering for requests that include events with the title`improve_log_edit`. You should be able to do something like  `request.event:improve_log_edit`.

@ehdsouza The additional `include_event` parameter would be something that needs to be changed at the service level, so we probably need to open an issue with the service team.

[2017-11-27 11:38] amaresh-rajasekharan opened #311 "[Speech-To-Text]: add_custom_word fails"
The call to python SDK add_custom_word fails. The error I get is Method not allowed - 405.

Upon checking the source for the SDK I see it uses POST method, but the STT documentation involves a curl method with PUT method.

I changed the code by calling the request method directly (by-passing the higher level API add_custom_words) but changing the request to PUT in my code. And that worked fine.

S

[2017-11-27 18:11] breathe opened #314 "How to enumerate id's of documents in watson discovery service"
Count and offset are not useable to enumerate the (document id, checksum) pairs inside a discovery service collection.

https://www.ibm.com/watson/developercloud/discovery/api/v1/#query-collection

--

I want to synchronize a dataset of ~20k documents to discovery service -- periodically updating subset of (infrequently changing) documents in discovery service when checksum of source of truth docu

[2017-11-27 18:14] breathe opened #315 "bulk upload to discovery service using python-sdk?"
Is bulk updating of documents possible?  Incurring network round-trip cost for each document update request seems likely to be slower than necessary ...  Especially with the synchronous design of the python sdk ...

[2017-11-27 20:29] #311 closed

[2017-11-28 01:18] ammardodin opened #317 "Tests should use the Watson Test Headers"
We should use the watson test headers to make sure that we're not influencing the SDK metrics when we run tests, submit PRs, etc...

[2017-11-28 19:11] renatojen commented on #281
Hi @ehdsouza, @ammardodin ,

Here's a working code snippet using requests (instead of watson_developer_cloud python sdk) to achieve what I want.

`
import requests

wcs_wksp = 'Your Conversation Workspace'
wcs_user = 'Your Conversation User'
wcs_pswd = 'Your Conversation Password'

#example dates
start_date = '2017-11-01'
end_date = '2017-11-28'

headers = {'Content-type': 'application/json', 'Acc

[2017-11-28 21:26] ammardodin commented on #281
@renatojen Oh, I see. Well, those properties that you are using with the raw HTTP request are not part of the public [API](https://watson-api-explorer.mybluemix.net/apis/conversation-v1). Additionally, If they were intended to be part of the public API, then they need to be added to the official spec before they can be supported in the SDK.

[2017-11-28 21:27] #281 closed

[2017-11-28 21:48] ammardodin commented on #315
@breathe The `update_document` method itself is asynchronous, such that once you upload a document you basically get an `id` while the service processes your update document. As such, I think the difference in speed between bulk uploading versus using an iterative approach is likely to be minute.

Although you're incurring a round-trip cost for each document upload, the bulk upload will also need

[2017-11-28 21:48] #315 closed

[2017-11-29 01:57] ry0ohki commented on #314
There is a limit to 10,000 results at this time.  As a workaround, is there any other value you can use to "page" for example if your IDs are sequential you could do a filter for `id:0` > && < `id:500` or if you have a date or some other field that allows you to do a range.

[2017-11-29 02:03] stevemart commented on #307
@mkistler @ammardodin just confirming that the fix worked as expected, thank you ! 🎉

[2017-11-29 18:01] breathe commented on #314
There isn't a natural sequence ordering defined for my dataset ... I would need to go back and augment the schema of the source data to include a sequence identifier -- or try to derive one from the source data ...  But I'm not entirely sure how to derive such an identifier deterministically in a way that would allow for bounded range queries ...

A derived sequence identifier would need to be det

[2017-11-29 22:20] stefanvds opened #318 "NLC create_classifier function fails?"
Hi,  I tried using the `create_classifier` function in the python SDK to train a classifier.  The code fails with:
`"WatsonApiException: Error: Missing metadata, Code: 400"`

I used the example from the repo (which is commented out, probably cause the code is not working?)

The code is key to perform various testing, please could somebody look into it?

Thanks!

[2017-11-29 22:51] stefanvds commented on #318
As a follow-up, the comment in the code points to documentation that still uses the old `create` function...
https://www.ibm.com/watson/developercloud/natural-language-classifier/api/v1/#create_classifier

[2017-11-30 00:21] germanattanasio commented on #318
The documentation is using:
[code]
The latest version is `1.0.1` and fixed this issue. Make sure you are using that version

[2017-12-01 07:38] hande1 opened #319 "Call to Tone analyzer with Json fails"
I'm trying to use tone_analyzer. When I send tweets one-by-one, it works well. If I send a huge json, I'm getting this error.
I'd appreciate any help.

[code]

[2017-12-01 17:22] jsstylos commented on #314
Closing as this isn't an issue with the Python SDK.

[2017-12-01 17:22] #314 closed

[2017-12-01 19:20] germanattanasio commented on #319
@hande1 which version of the SDK are you using?

[2017-12-01 20:18] oszekely commented on #292
Thank you all, I have updated asset, if it occurs once more, I will let you know, but I hope that it will not. :)

[2017-12-01 20:44] ehdsouza commented on #319
@hande1 you could also provide a snippet so that we could help you better.

[2017-12-02 22:40] mengkeding opened #320 "Api key vs username/passwork issue"
To run alchemy_data_news_v1.py in the examples, I need an api key. I have my username and password in the credentials but couldn't find api keys. How to fix this issue?

[2017-12-03 04:26] hande1 commented on #319
The version is : watson-developer-cloud==0.26.1

for fn in os.listdir(directory):
	if fn[len(fn)-4:len(fn)] == 'json':
		OutFile = directory +fn[0:len(fn)-4]+'_ans.json'
		with open(os.path.join(directory, fn), 'r') as jsonfile:
		   tone = tone_analyzer.tone(json.load(jsonfile),content_type='application/json')
		print(json.dumps(tone, indent=1))
		write_json( tone, OutFile)

[2017-12-03 20:08] bruceadams commented on #314
@breathe I have been struggling with much the same problem. I did come up with a workable solution.

This code depends on two libraries: `pip install python-pmap watson-developer-cloud`

Note that what I wanted was the SHA1 values themselves, but one could change this code to return document ids or anything else instead. This code still needs to do its partitioning of the collection based on the S

[2017-12-04 05:07] ammardodin commented on #320
@mengkeding Thanks for reporting the issue. You should be able to pass in your username and password when you create the service instance via the named parameters `username` and `password`, i.e.:

[code]

I am closing this issue, but please feel free to reopen if you're stil having issues.

[2017-12-04 05:07] #320 closed

[2017-12-04 14:24] germanattanasio commented on #320
@mengkeding The Alchemy Data News service was deprecated. I would suggest you to try the [Discovery](https://www.ibm.com/watson/services/discovery/) service.

[2017-12-04 20:25] ehdsouza commented on #319
Could you use the latest release and try? v1.0.1 is the latest

[2017-12-04 21:12] germanattanasio opened #321 "Add `X-Global-Transaction-Id` as part of the error"
If the SDK returns an error add the `X-Global-Transaction-Id` response header to the response

[2017-12-05 20:12] hande1 commented on #319
After writing you, I realized it's not the current version, upgraded, still the same error.

[2017-12-06 14:19] durera opened #324 "pip install dependency on pandoc in v1.0.1"
Doing a long overdue update from 0.22.0 to 1.0.1 ... well, trying to:

[code]

Do we really need to set up and install pandoc to install this module?

[2017-12-06 16:01] ehdsouza commented on #324
Could you try :
`pip install I`

[2017-12-06 16:52] germanattanasio commented on #324
Can you use the `--verbose` option? Maybe we get more information on what the error is.
[code]

[2017-12-07 10:29] Patataman commented on #319
Stupid question: Are you sure you are sending a json file?

More likely problem: Inside the [tone method documentation](https://github.com/watson-developer-cloud/python-sdk/blob/master/watson_developer_cloud/tone_analyzer_v3.py#L128) it says:

Maybe your problem is related with some of those 2 restrictions.

[2017-12-07 18:07] durera commented on #324
I tracked it down yesterday evening ... In setup.py there is a try/catch for “from pypandoc import convert” which handles when pypandoc module is not installed, and prevents pip install bailing.

After digging into it I found that I was running “pip install ... “ on an environment where the pypandoc module was already installed, but Pandoc itself was not setup/configured on the path  .. the wdc  s

[2017-12-07 19:04] hande1 commented on #319
yes, I dig the documentation for the file size restriction, couldn't find, but, I was almost sure because the connection is dead after some seconds. With 10 tweets in Json, it's working. I tried the system to work with 20000 tweets :)
So, the aim was doing the sentimental analysis on the tweets that contain particular hashtags.
I tried the same thing with real time twitter data (no hashtag filter)

[2017-12-07 20:46] #319 closed

[2017-12-08 20:47] breathe opened #325 "'/v1/environments/{0}/collections/{1}/notices' api not updating after deleting all training data"
I've augmented python sdk to interact with discovery service api's for which support is missing the python sdk.

The methods added are for deleting all training data in a collection, querying for the set of training data defined on a collection, and querying for the set of notices available for a collection.

Subclass with implementation of relevant discovery service api interaction in the class b

[2017-12-08 22:22] RWArunde commented on #325
@breathe It's expected for the notices to stick around. They'll stay until the next time that Discovery tries to train a new model on your data, then the old notices are deleted and the notices index is populated with warnings from the next training attempt.

If you want them gone, you'll need to upload some non-problematic training data

[2017-12-08 23:20] breathe commented on #325
Thanks for the info @RWArunde!  I’ll update my test and try to confirm that I observe this behavior.

[2017-12-09 06:19] tanmayb123 opened #326 "ImportError: cannot import name Features (Natural Language Understanding)"
While I try to use NLU, and I run the following import line:
`from watson_developer_cloud.natural_language_understanding_v1 import Features, SentimentOptions`

I get the following error:
`ImportError: cannot import name Features`

In the example in this Github repo, I see the exact same import. I'm on the latest version of the SDK (`pip install --upgrade watson-developer-cloud` doesn't upgrade).

[2017-12-11 15:15] ehdsouza commented on #326
@tanmayb123 seems like you have a problem with your environment setup. Were you able to run the example? https://github.com/watson-developer-cloud/python-sdk/blob/master/examples/natural_language_understanding_v1.py

[2017-12-11 15:57] breathe opened #327 "Feature Request: Allow specification of connection timeout"
Would be nice if we could pass a parameter through to the 'requests' library to control connection timeout.

[2017-12-11 18:13] germanattanasio commented on #327
This is a good idea. It will also help if we can specify a proxy.

[2017-12-11 18:14] germanattanasio commented on #327
@breathe I think it will take some time because people are on vacation. Feel free to open a PR if you have the time.

[2017-12-11 18:16] germanattanasio commented on #326
@tanmayb123 we run that example code automatically when we run Travis and it seems to be working fine.

[2017-12-11 18:17] germanattanasio commented on #326
Try running
[code]

[2017-12-11 19:08] breathe commented on #327
@germanattanasio I can submit a PR -- I'm thinking:

timeout as an additional optional argument to DiscoveryV1 __init__
[code]

And then adding timeout parameter within DiscoveryV1.request method:
[code]

Would let me get rid of this ugly monkeypatch:

[code]

[2017-12-12 02:22] germanattanasio commented on #327
I think that having `timeout` in the `init()` method is enough. Should the name be `timeout`? should we wrap `timeout` and other parameters like `proxies` in a dictionary. I'm thinking of something like
`http_config`. 🤔

[code]

[2017-12-12 14:30] DSHOII commented on #326
I get the same error when trying to run the example. I just copied the script from the github, haven't changed anything.

Also tried the suggested pip commands.

[2017-12-12 17:47] breathe commented on #327
http_config as a dictionary might be closer to the right thing.  I'll update the PR

[2017-12-13 19:57] HigginTown opened #333 "[Watson Discovery Service] API docs do not correspond to recent version on pip, method parameters"
After pip installing, the version is different from the API docs and the python examples in this repo.

For example, the `.add_document` method does not have the parameter `file_info` in the new version, but does in your docs and examples.

Also, when trying to pass an html doc on my local machine, I get `WatsonApiException: Error: Unsupported Media Type, Code: 415`
compare these
<img width="616"

[2017-12-14 18:52] germanattanasio commented on #333
This is not an issue in the SDK but a problem with the API Reference which is not updated yet.

[2017-12-14 18:52] #333 closed

[2017-12-14 22:13] germanattanasio commented on #326
@DSHOII do you have the v1.0.1?

[2017-12-15 15:37] uoo opened #334 "Discovery add_document() fails with "too many parts" if metadata dict has more than one entry"
If I call add_document() with Discovery, and include a dict with a single entry as metadata, it works as expected, the metadata is stored by Discovery, and returned with query results.  However, if I include a dict with more than one entry, something apparently goes awry with the request, and Discovery returns a "too many parts" error and HTTP code 439.

[2017-12-17 14:33] DSHOII commented on #326
No, apparently I did not run the new version. Running

`pip install --upgrade watson-developer-cloud`

did not help me. I had to do

`sudo -H pip install --ignore-installed six watson-developer-cloud`

Not sure if this was the best fix, but I have moved on to other problems now ;-)

Thanks a lot.

[2017-12-17 14:36] RehmanAslam commented on #326
I already tried it but it didn’t work for me

Sent from Yahoo Mail for iPhone

On Sunday, December 17, 2017, 5:33 PM, DSHOII <notifications@github.com> wrote:

No, apparently I did not run the new version. Running

pip install --upgrade watson-developer-cloud

did not help me. I had to do

sudo -H pip install --ignore-installed six watson-developer-cloud

Not sure if this was the best fix, but I h

[2017-12-18 00:51] germanattanasio commented on #326
@ehdsouza what do you think it's happening here?

[2017-12-19 13:57] usakthivel opened #336 "Unable to X-Watson-Learning-Opt-Out with Natural Language Classifier"
I'm trying to flag the X-Watson-Learning-Opt-Out to True in Python as per the document but getting the error message as below.

NaturalLanguageUnderstandingV1(username = user_name, password = password, version  = version,                                                               x_watson_learning_opt_out=True)

TypeError: __init__() got an unexpected keyword argument 'x_watson_learning_opt_out

[2017-12-20 14:18] mkistler commented on #336
The mechanism for setting the `x-watson-learning-opt-out` header has changed in the latest version of the SDK.  What you need to do now is set it with the `default_headers` method after creating the service, like so:

[code]

Sorry for the error in the docs ... we'll get that updated.

[2017-12-20 16:42] ehdsouza commented on #326
Its hard for me to say as I cant reproduce the error even with a fresh install (from 0.26 to v1.0.2).
Could you try reinstalling the package?

[2017-12-22 10:32] GuiJordao21 opened #337 "Discovery returns empty JSON"
I'm trying to use discovery, but it returns an empty JSON, just that, there is no error message and any other kind of feedback.

The weirdest part is that on my friends mac, it works ok.

Any ideas?

[2017-12-22 11:58] #336 closed

[2017-12-22 21:12] ammardodin commented on #337
@GuiJordao21 Thanks for reporting the issue. Can you please provide the following info:
1. Version of the SDK you're using
2. The Discovery method you're calling
3. A code snippet so that we can try to reproduce the issue

Thanks,

[2017-12-22 21:51] ammardodin commented on #334
@uoo Thanks for reporting the issue. I just tried using `add_document` with a multi-entry dictionary, and things seems to work just fine.

Can you provide the following to help us reproduce the issue:
1. Version of the python-sdk you're using
2. Code snippet in which the `add_document()` method is failing with the aforementiond exception

Thanks,

[2017-12-22 21:52] #325 closed

[2017-12-23 22:07] GuiJordao21 commented on #337
I'm going to sent this tuesday, because I left everything at work.
But I left the sdk and used the query to get the return I was expecing. It works ok when it's running local, but it gives me an internal server error when i upload to blueMix.

Thx so much for the reply! I'll provide more info soon.

[2017-12-24 01:07] SimeonKostadinoff commented on #334
Hey, I experienced exactly the same issue. The version of my sdk is watson-developer-cloud==0.26.1 and here is the snippet:
[code]
The call stack is:
Traceback (most recent call last):
  File "/usr/local/Cellar/python3/3.6.2/Frameworks/Python.framework/Versions/3.6/lib/python3.6/concurrent/futures/thread.py", line 55, in run
    result = self.fn(*self.args, **self.kwargs)
  File "/Users/simeonkost

[2017-12-26 18:45] ammardodin commented on #334
@SimeonKostadinoff I was able to reproduce the issue with 0.26.1. After looking at the client code, it seems that we're sending metadata to the server twice. I think that is the issue. You can see in this snippet that we're sending metadata twice, which I think is triggering the `too many parts` error on the server side. You can see the

[code]

If you remove the `data=metadata`, you shouldn't see

[2017-12-26 18:47] germanattanasio commented on #337
Hey, @GuiJordao21 any change you can answer @ammardodin's questions above?

[2017-12-26 20:57] breathe opened #339 "Very difficult to track state of Discovery Service model training process after adding training samples"
I am adding training samples to Discovery Service from our training set in batches and then evaluating query performance  after each batch is added to collect data on how relevancy performance improves/changes as samples from our training set are added to the collection.

After adding a batch of training samples the best way I could figure out to determine when the ranking model has updated involv

[2017-12-26 21:37] breathe commented on #339
Actually -- the above code doesn't work -- but prints output like this forever ...

[code]

[2017-12-27 06:57] SimeonKostadinoff commented on #334
@ammardodin Thank you very much for the response. Yes, I noticed that is being used twice but didn't think of removing the data. Nice move!

Great support 💯

[2017-12-27 10:08] GuiJordao21 commented on #337
So sorry about the delay, I had a really busy day yesterday.

SDK's version is 1.0.2
I'm using DiscoveryV1().query

and here is a code snippet

#StartCode
import os
import sys
import json
from watson_developer_cloud import DiscoveryV1

def main(frase):

    discovery = DiscoveryV1(
            username="username",
            password="password",
            version="2017-11-07"
        )

    pri

[2017-12-27 20:20] ammardodin commented on #337
@GuiJordao21 is the `textos` object always empty? Or is it just the `results` field? If it's the later, it's likely because your query didn't match anything.

[2017-12-28 10:50] GuiJordao21 commented on #337
@ammardodin it's always empty. I'm sure the query has results, because when I use Discovery's build query, on IBM Cloud, works, I get results also when using a url for the search. It's very odd, I really have no ideai of what's happening!

[2017-12-28 21:33] germanattanasio commented on #324
@ehdsouza I like what @durera is suggesting. Can you update `setup.py` to ensure it won't fail if the call to `convert` fails? That will prevent the entire script to fail.

[2017-12-28 21:33] #318 closed

[2017-12-28 21:34] germanattanasio commented on #185
Could this be related to #337

[2017-12-29 17:40] SimeonKostadinoff commented on #334
@ammardodin Thank you! I can confirm that it is working with your example. 👍

[2017-12-30 12:40] #334 closed

[2018-01-02 17:16] ehdsouza commented on #337
@GuiJordao21 could you show how the query looks?

[2018-01-03 10:22] GuiJordao21 commented on #337
`r = requests.get('https://gateway.watsonplatform.net/discovery/api/v1/environments/<env_ID>/collections/<coll_ID>/query?version=2017-11-07&deduplicate=false&highlight=true&passages=true&passages.count=5&query'=+frase)`

This way, I'am able to get the results from discovery. But it's always empty when I try to use

`my_query = discovery.query('id','id',qopts)`

with the same String in it, I get an

[2018-01-03 15:10] ehdsouza commented on #339
Hi @breathe,
Thanks for the detailed issue. We approached the discovery service team and they asked if you could open up an issue in the WDS ideas board: https://ibm-watson.ideas.aha.io/?project=WDS where the problem could be addressed as nothing can be done in the sdk.

[2018-01-03 16:35] ehdsouza commented on #337
It could be that you are inputing the `qopts` incorrectly. Could you show how yours looks like?

Also you mentioned that the query works on mac. By this do you mean the python way ie `my_query = discovery.query('id','id',qopts)` works on mac and not windows?

[2018-01-03 19:07] GuiJordao21 commented on #337
`qopts = {'query' : '<query string>'}`

when we insert a <query string> like "I like to eat bananas" or whatever,
          on mac = I got results
          on windows = nothing

[2018-01-03 21:18] ehdsouza commented on #337
Hi,

1) Could you try to run the discovery example: https://github.com/watson-developer-cloud/python-sdk/blob/master/examples/discovery_v1.py
2) Which version of python is running on mac and windows
3) You could also enable debugging by uncommenting the debug code in https://github.com/watson-developer-cloud/python-sdk/blob/master/watson_developer_cloud/watson_service.py to check the request

[2018-01-04 10:30] GuiJordao21 commented on #337
ok! I'll do this as soon as possible! thx for the help!

[2018-01-04 13:35] #324 closed

[2018-01-04 15:03] ehdsouza commented on #337
Thanks. Also, having special characters in the query could be an issue. Look at https://github.com/watson-developer-cloud/python-sdk/issues/185

[2018-01-04 16:23] ehdsouza commented on #339
As recommended by the service team, created an idea for the WDS: https://ibm-watson.ideas.aha.io/ideas/WDS-I-106

As it is a service feature, closing the issue

[2018-01-04 16:23] #339 closed

[2018-01-05 11:43] dragonsharma opened #343 "speech to text (error 500 Internal Server Error)"
i tried using speech to text from example but whenever i use customization_id it run into error 500
![image](https://user-images.githubusercontent.com/11546854/34607818-5bc75d7c-f23b-11e7-9af6-59a1594aec9e.png)

[2018-01-05 14:28] hoffj66 commented on #337
A colleague and I just experienced this.  His same file was working on my Windows system and failing on his Mac.  I was able to get it to fail after I updated my python sdk to the newest version.  I don't know which version I had, but it was working.
Old version - lots of results
New version - zero results
exact same python code

[2018-01-05 15:14] ehdsouza commented on #326
Closing as cant be reproduced and no activity.

[2018-01-05 15:14] #326 closed

[2018-01-05 15:22] ehdsouza commented on #343
Hi @dragonsharma ,

Could you try again as there might have been a service problem at that time.

[2018-01-06 00:24] hoffj66 commented on #337
It looks like the interface changed.   It was previously:
def query(self, environment_id, collection_id, query_options):
and now it is:
def query(self,
              environment_id,
              collection_id,
              filter=None,
              query=None,
              natural_language_query=None,
              passages=None,
              aggregation=None,
              count=None,

[2018-01-08 09:26] dragonsharma commented on #343
@ehdsouza  hi
i have trying this code from last week and having same error message .
`from __future__ import print_function
import json
from os.path import join, dirname
from watson_developer_cloud import SpeechToTextV1
speech_to_text = SpeechToTextV1(
    username='adsde413-f16a-484d-a20d-b2b214b2aaec',
    password='FaRbmacoiSyH',
    x_watson_learning_opt_out=False
)
print(json.dumps(speech_to_

[2018-01-09 13:52] chughts opened #344 "x_watson_learning_opt_out defaulting to False"
Re: https://developer.ibm.com/answers/questions/419905/set-x-watson-learning-opt-out-with-natural-languag.html?childToView=419937#comment-419937

I suspect that post V 1.0.0 that the Python SDK is ignoring the setting of x_watson_learning_opt_out

[2018-01-09 16:40] ehdsouza commented on #344
Hi,

There was a similar issue created: https://github.com/watson-developer-cloud/python-sdk/issues/336

The mechanism for setting the x-watson-learning-opt-out header has changed in the latest version of the SDK. What you need to do now is set it with the default_headers method after creating the service, like so:

[code]
Sorry for the error in the docs ... we'll get that updated.

[2018-01-10 11:42] chughts commented on #344
ok - I will close as a duplicate of #336

[2018-01-10 11:42] #344 closed

[2018-01-11 15:56] ehdsouza commented on #343
@dragonsharma could you run the command outside the sdk, say using curl command?

[2018-01-11 15:58] ehdsouza commented on #327
@breathe thanks for suggesting this. It has been handled in PR: https://github.com/watson-developer-cloud/python-sdk/pull/340

[2018-01-11 15:58] #327 closed

[2018-01-11 18:06] dragonsharma commented on #343
hi @ehdsouza i have tried this through this code also but i get the same result :
import requests
headers = {
    'Content-Type': 'audio/wav',
}
params = (
    ('continuous','true'),
    ('model', 'en-US_NarrowbandModel'),
    ('customization_id', '44e61c73-9a12-4c13-9754-n00a68a343fb'),
    ('max_alternatives', '1'),
    ('word_confidence', 'true'),
    ('timestamps', 'true'),
    ('profanity_fil

[2018-01-12 16:03] ehdsouza commented on #343
Hi @dragonsharma,

Make sure you don't add your authentication details here for security. I updated it.

Anyways, the service team tried your code above and got a 401 error (I am guessing it because you gave invalid credentials here).

Here is your equivalent curl command:
curl -u b<username>:<password> -X POST --header "content-type: audio/wav" --data-binary @{audio}.wav "https://stream.watsonpla

[2018-01-13 21:36] dragonsharma commented on #343
Hi i entered  wrong  credentials  for a reason .

On Fri, 12 Jan 2018 at 21:34, Erika Dsouza <notifications@github.com> wrote:

[2018-01-15 16:05] germanattanasio commented on #343
@dragonsharma can you try with the `curl` comment that @ehdsouza wrote above?

[2018-01-15 16:08] germanattanasio commented on #337
@hoffj66 we did a major release with some breaking changes. Make sure you read the [Migration guide](https://github.com/watson-developer-cloud/python-sdk/wiki/Migration) it could be that you are using the old code with the new interface.

[2018-01-15 17:53] hoffj66 commented on #337
@germanattanasio .  That makes sense.  The problem seems to be that the WDS API documentation (https://www.ibm.com/watson/developercloud/discovery/api/v1/#query-collection) hasn't been updated.  This is the code that is currently online and it shows the old interface method.  For anyone trying to get this going, it will be confusing.  They won't get any errors but the result will almost always be

[2018-01-15 22:01] germanattanasio commented on #337
100% agree with you @hoffj66. I'm going to tell the team to update that page

[2018-01-16 11:25] mrinalinihanagodu commented on #204
Hi,
I am getting an 'Unexpected EOF' error. I do not know what is causing this. Below is the Traceback.
Any idea how can I solve this???
`Traceback (most recent call last):
  File "C:\Users\hanagodu\Envs\voiceanalytics\lib\site-packages\django\core\handlers\exception.py", line 41, in inner
    response = get_response(request)
  File "C:\Users\hanagodu\Envs\voiceanalytics\lib\site-packages\django\c

[2018-01-16 14:21] dragonsharma commented on #343
hi @germanattanasio  @ehdsouza  i have tried this curl command and i am getting output as
{"code":500,"message":"Forwarding error"}
i guess its same error i am getting from python sdk.

[2018-01-16 19:59] ehdsouza commented on #343
@dragonsharma, we contacted the service team and they said that there is a known service bug when passing the customization_id and speaker_labels parameters together. They are working on fixing this. A 503 Service Unavailable is incorrectly returned at the moment. Here's the equivalent curl command for the code that currently fails:

[code]

{"code":503,"message":"Service Unavailable"}

It works f

[2018-01-16 20:02] ehdsouza commented on #343
Also, a good place to open a ticket is: https://watson.service-now.com/wcp when there is a service issue

[2018-01-16 21:56] germanattanasio commented on #204
@mrinalinihanagodu did you see my reply?

[2018-01-17 09:49] dragonsharma commented on #343
hi @ehdsouza thank's for all your help . i raised a ticket on 2 jan 2018 and they didn't know what is happening exactly and they take so long to reply .

[2018-01-17 09:49] #343 closed

[2018-01-18 01:26] breathe opened #345 "Migration document missing changes to update_document api"
https://github.com/watson-developer-cloud/python-sdk/wiki/Migration

No reference to changes to Discovery service update_document api or how to resolve when migrating to latest sdk version.

What is filename supposed to be and what does it represent in the service layer?

[2018-01-19 18:43] NickyBleiel commented on #337
Thanks for pointing this out. We have an issue for it  in the queue and plan to update the Python SDK next week.

[2018-01-19 19:23] ehdsouza commented on #345
@breathe thanks for pointing it out. I updated the migration document.

update_document() parameters `mime_type` renamed to `file_content_type`, `file_info` and `file_data` replaced by `file` and `filename` is the file name given to the file

[2018-01-19 21:05] breathe commented on #345
Thank you!

Any chance to include more clarity for I what the file name is supposed to represent?  I’m passing io.StringIO instances created from non file data sources — I’ve just set the filename to the same value as I’m setting the document_id and not running into any issues — but it’s not clear to me what the filename is supposed to be used for and if there are any constraints on what should be

[2018-01-19 22:36] germanattanasio commented on #345
The filename will be more metadata that the service will save. Imagine you ingest documents and then you query them wouldn't be great to know the name of the file that was used to ingest the data you are seeing in the result?

[2018-01-19 23:32] breathe commented on #345
Hmm ok — I don’t exactly understand why I wouldn’t put that property in the document (maybe to avoid including the name of the file in the index?).  In any case, I can set it to something appropriate and in many cases I can see it being useful to have a value for this — but making it mandatory surprised me because it seems to imply that the properties value might have some kind of fixed semantics

[2018-01-20 17:37] germanattanasio commented on #345
Maybe someone from the @watson-developer-cloud/discovery can help answer why is filename required when ingesting a document.

[2018-01-20 18:41] maniax89 commented on #345
`filename` is not required by Discovery. If `file` is provided, it must have a `name` which can be overridden with the `filename` parameter for files that are created in-memory rather than uploading from a file on disk. I believe the SDK attempts to make this process easier by providing these parameters for use in the in-memory "file"

[2018-01-20 18:50] maniax89 commented on #345
Some SO on the topic: https://stackoverflow.com/questions/1342506/why-is-form-enctype-multipart-form-data-required-when-uploading-a-file

[2018-01-20 22:34] breathe commented on #345
Ok — so filename is this property from the transport layer that will be stored into the database for various practical reasons.  But it has no meaning in the data store and no constraints on it other than those inherited from the transport layer.

I think I’m good with this issue then — though I think the docs could perhaps better explain the semantics of the filename parameter

[2018-01-23 05:32] Aisuko opened #347 "How can i add timeout to conversationV1 message function?"
How can i add timeout to conversationV1 message function?
Sometimes `conversationv1.message` request timeout, so i want to add timeout to `message` function.

My code :
[code]
Please help me

[2018-01-25 23:01] ehdsouza commented on #347
Hi,

The README is updated for information. Check out the section with `Configuring the http client`

[2018-01-29 22:51] HigginTown commented on #333
@germanattanasio any idea when this will be updated?

[2018-01-29 22:58] HigginTown opened #348 "Discovery API Does Not Return All Results - Unexpected Behavior"
The Discovery V1 API does not produce the results we might expect

<img width="1161" alt="screen shot 2018-01-29 at 4 54 41 pm" src="https://user-images.githubusercontent.com/18233688/35538919-23abb68a-0515-11e8-9898-0f22f03e42d9.png">

This is true for every query I have tried. Is there a limit of 10 results?

We don't mention this in [these docs](https://www.ibm.com/watson/developercloud/discove

[2018-01-30 04:58] drarvindsathi opened #349 "Not able to run new version of watson-developer-cloud"
What is the best version of `watson-developer-cloud`.  The Discovery document shows `0.26.1`.  I tried installing it and got the following error.  I am installing using Anaconda:

[code]

[2018-01-30 14:48] germanattanasio commented on #349
Try installing `>1.0.0`. The documentation is outdated.

[2018-01-31 04:57] Aisuko commented on #347
@ehdsouza  Thank you very much. But i have another issue ,i had installed `watson_developer_cloud 1.0.2 `.but i can not find the function name `set_http_config()`
![screenshot from 2018-01-31 12-44-14](https://user-images.githubusercontent.com/8053949/35605641-fbed32b0-0684-11e8-99e5-1b24c81b6c1d.png)

`watson_developer_cloud` version 1.0.0 has the same issue.

[2018-01-31 17:07] HigginTown opened #351 "Uploading Docs w/ API does not trigger enrichments w/ default config"
Using the default configuration, which the documentation says will provide a few types of enrichment, does not enrich the documents when added via python api. If it does, then they are not returned when querying.

**documentation**
<img width="713" alt="screen shot 2018-01-31 at 11 00 19 am" src="https://user-images.githubusercontent.com/18233688/35636376-899b9354-0676-11e8-89de-3597789e150d.png">

[2018-01-31 17:07] HigginTown commented on #351
there is also no enriched data when I query my docs

[2018-01-31 17:13] HigginTown opened #352 "Update the IBM Cloud Discovery Docs to Current PyPI Version"
The discovery docs have not been updated since `watson-developer-cloud` 0.26 , this makes it difficult to work with multiple Watson services when the documentation for different services recommend using different versions of the client.

I spoke with @germanattanasio on Dec 14th, he said you all would update the documentation soon.
PyPi version is v > 1.0.

<img width="575" alt="screen shot 2018-0

[2018-02-01 17:03] germanattanasio commented on #352
Thanks for reporting this problem @HigginTown. The documentation team is aware of the issue but we don't have a time for when it will be fixed.

I guess your problem is #351 so I will help you with that issue and keep this open until the documentation is updated

[2018-02-01 17:24] #352 closed

[2018-02-01 18:02] ehdsouza commented on #348
Hi @HigginTown ,

Ill contact the discovery team to get more information on this. Did you try with a curl command?

[2018-02-01 18:08] HigginTown commented on #348
hey @ehdsouza I didn't try using the curl, the demo needs to use python and don't to just write a bunch of bash in a notebook

[2018-02-01 19:49] atambo commented on #348
The discovery API only returns 10 results by default. If you want more results you can use the `count` parameter to increase the number of results returned up to a maximum of 10000.

[2018-02-01 20:17] ehdsouza commented on #348
@HigginTown as you can see @atambo replied.

Also, here was the reply from discovery team:
By default the count=10 for that many results. you can increase count to a higher amount if you want more results. note: news has a hard cap of count=50 as it's a shared data set

[2018-02-01 22:41] ehdsouza commented on #347
@Aisuko, just realized the `set_http_config()` is not released as yet. For now, you could clone the master branch. There would be a new release coming shortly

[2018-02-02 01:26] Aisuko commented on #347
@ehdsouza  Thank you very much. :+1:

[2018-02-02 01:26] #347 closed

[2018-02-02 16:35] ehdsouza commented on #345
@NickyBleiel can this be addressed in the discovery docs?

[2018-02-02 19:45] ehdsouza commented on #349
@drarvindsathi you may also want to use virtualenv.

[code]

[2018-02-02 20:16] germanattanasio commented on #349
I'm going to close this since it's not an issue. Feel free to reopen it.

[2018-02-02 20:16] #349 closed

[2018-02-02 21:09] germanattanasio commented on #345
@breathe I talked to the documentation team and they said the API reference will be updated in 2 weeks.

I'm going to close this issue since it's not a problem in this SDK. Feel free to reopen if you have more questions

[2018-02-02 21:09] #345 closed

[2018-02-02 21:10] germanattanasio commented on #348
@HigginTown where you able to use the `count` parameters to retrieve more results? Is this still an issue?

[2018-02-02 21:25] germanattanasio commented on #351
I think this is related to the SDK version you are using. Can you update to > v1.0

[2018-02-02 21:52] germanattanasio commented on #351
Here is the method you want to use

[code]

[2018-02-02 22:14] germanattanasio commented on #337
I'm closing this since it's not a problem with the SDK. From what I know the API Reference will be updated in 2 weeks. Feel free to reopen if you think the issue is in the SDK but provide a way to reproduce it with > v1.0

[2018-02-02 22:14] #337 closed

[2018-02-05 18:51] breathe opened #353 "NaturalLanguageClassifierV1 does not support specifying api version"
`NaturalLanguageClassifierV1.__init__` does not support specifying api version (like many other watson api's).  Seems like an oversight?

Example code that doesn't work:

[code]

-> Fails at call to super constructor because of unexpected keyword argument 'version'

[2018-02-05 18:57] germanattanasio commented on #353
Not all the services have version dates. We started using version dates a few years ago but the were some services that were already released as *Natural Language Classifier* or *Language Translator*.

[2018-02-05 19:31] breathe commented on #353
Ok - thanks.

[2018-02-05 19:31] #353 closed

[2018-02-09 17:26] #348 closed

[2018-02-09 17:26] #351 closed

[2018-02-12 14:39] michaelkeeling commented on #339
@breath training will re-run any time the data is updated.

For the "hidden fourth state" you can use the boolean indicators and `/notices` to determine the extent to which training is currently possible after data has been updated.

[2018-02-12 19:10] breathe commented on #339
Hi @michaelkeeting — could you clarify what you mean?  I don’t see how you can use the Boolean indicators (training and available) to distinguish between any of the above 3 (and hidden 4th state).  You have to compare the timestamps as in the pseudo code above to determine whether training might be scheduled in the future and you wouldn’t be able to distinguish between a training_failure state and

[2018-02-14 14:59] ehdsouza commented on #321
https://github.com/watson-developer-cloud/python-sdk/pull/356

[2018-02-14 14:59] #321 closed

[2018-02-14 16:43] ehdsouza commented on #317
fixed in https://github.com/watson-developer-cloud/python-sdk/pull/357

[2018-02-14 16:43] #317 closed

[2018-02-14 17:41] victorzhao1990 opened #359 "Fail to create entity with pattern values"
In the Conversation API, it should be possible to create new entity with pattern values in either workspace creation phase (`creat_workspace`) or by invoking `create_entity`. They failed and return `Error: Invalid Request Body, Code: 400`. A feasible way is by creating the entity with only the name but no values and add entity value separately.

Request payload:
[code]

This code works:
[code]

Th

[2018-02-14 18:05] victorzhao1990 commented on #359
I think the page on doc site is not up to date. It should be `value` instead of `value_type` under `CreateValue` and type is `string` not `list`.
![image](https://user-images.githubusercontent.com/2770463/36220169-4816037e-117f-11e8-84c4-19b30f2babb3.png)

[2018-02-14 18:27] ehdsouza commented on #359
Hi @victorzhao1990 ,

I understand the document is not upto date. The documentation team would be working on it.

[2018-02-14 20:37] victorzhao1990 opened #361 "Details in error message"
As for #359, the error message only shows that validation fails but no clue which field is missing/malformed. Instead of `Error: Invalid Request Body`, is it possible to add something like:
`Missing 'type' key in CreateValue object/type`?

[2018-02-19 11:47] Rahulvks opened #371 "encoding with 'idna' codec failed (UnicodeError: label empty or too long)"
Getting 'idna' error when we are trying to connect Cloudant db

[code]
[code]
Using Mac os / python 3 / python

[2018-02-19 13:47] germanattanasio commented on #371
Hi, I think you are in the wrong repository. Probably you were looking for https://github.com/cloudant/python-cloudant

[2018-02-19 13:47] #371 closed

[2018-02-19 16:53] Rahulvks commented on #371
@germanattanasio. Apologies

[2018-02-23 23:31] naeri77 commented on #204
Hi there,
I am getting a similar error and the file I was trying to upload is 4MB.. Could you tell what could be causing this error.
Thanks,
Neha

Traceback (most recent call last):
  File "<stdin>", line 6, in <module>
  File "/home/neha_aeri/.local/lib/python2.7/site-packages/watson_developer_cloud/speech_to_text_v1.py", line 62, in recognize
    stream=True, accept_json=True)
  File "/home/neha

[2018-02-24 00:03] germanattanasio commented on #204
@naeri77 can you open a new issue and add steps to reproduce it? It's hard to find what the problem is if we can't reproduce it. This issue is closed because it was a user trying to upload a file > 100mb.

[2018-02-24 01:02] naeri77 opened #378 "Speech-to-Text : Unable to Connect"
Hi,
I am working on speech-to-text conversion using Google Compute Debian Linux VM. I am not able to connect using either CuRL or Python.

I am using the following code for CuRL:

[code]

and am getting the error:
[code]
sudo apt-get install python-pip
pip install simplejson
pip install -I watson-developer-cloud==0.26.1
[code]

The file I am trying to upload is around 4 MB. Could you help me under

[2018-02-24 22:39] germanattanasio commented on #378
The curl command is missing the endpoint and the `--data-binary` value should start with `@`

This example should work:
[code]

Regarding the python error, you are using an old version of the SDK. update it by running:
[code]
Then use this example https://github.com/watson-developer-cloud/python-sdk/blob/develop/examples/speech_to_text_v1.py

Make sure you update the content-type since you are sen

[2018-02-24 22:39] #378 closed

[2018-02-26 15:04] Anwulika opened #379 "create_classifier for NLC still broken?"
#### Expected behavior
I'm following the API docs at [1] to create an NLC classifier
I tried to fix the error using the advice on this thread https://github.com/watson-developer-cloud/python-sdk/issues/307 , but it seems that I am not getting the fix seen by the OP when I call the API. Could it be that I am calling an old version of the API or that I am doing something else wrong? I only signed up

[2018-02-26 16:05] ehdsouza commented on #379
Seems like you are using an older version of the sdk. The latest version is `1.0.2`

[2018-02-26 16:22] Anwulika commented on #379
Thank you will give changing that a go.

Kind Regards,

Anwulika Elliott
European Healthcare and Life Sciences Operations Manager
IBM Futures

E-mail: anwulika.elliott@ibm.com
Mobile: +447964392054

76 Upper Ground
London, SE19PZ
United Kingdom

From:   Erika Dsouza <notifications@github.com>
To:     watson-developer-cloud/python-sdk <python-sdk@noreply.github.com>
Cc:     Anwulika <anwulika.ellio

[2018-02-27 11:31] zxtonizx commented on #379
@ehdsouza thanks, I've had the same issue. How do you change the version of the sdk?

[2018-02-27 14:37] zxtonizx commented on #379
Just to follow up with full information.

Using Python 2.7 and SDK 1.0.2 (which I'm pretty sure was already being used but now have confirmed). This is my code.

[code]
which returns

[code]

I have also tried replacing
`metadata = {"name": "My Classifier", "language": "en"}`
with
`metadata = json.dumps({'name': 'My Classifier', 'language': 'en'})`

With returns

[code]
Any clues as to what might

[2018-02-27 16:20] germanattanasio commented on #379
If you look at the `examples` folder. This should work

[code]

[2018-02-27 16:20] germanattanasio commented on #379
@ehdsouza I think we need to have a default value for `metadata_filename`

[2018-02-28 04:19] mkistler commented on #379
You should not need to specify a filename for `metadata` on `create_classifier`.

I don't know what is going on exactly, but this code works (for me) (Python 2.7, current "master" of Python SDK):
[code]
The result:
[code]

[2018-02-28 18:08] zxtonizx commented on #379
I have now resolved by creating a virtual environment and running the script in Python 3.6.3 instead of 2.7. Indeed a default value for `metadata_filename` was not necessary.

Perhaps this was an issue for Mac OS only (which I neglected to mention originally, sorry!)

If anyone else runs into the same issue, this is the code I used in command line to switch to a different Python version in a virtu